{namespace ejw=Tx_EjwCalendar_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages />

    <div class="tx_ejwcalendar">
        <div class="tx_ejwcalendar-filterbox">
            <div class="tx_ejwcalendar-filter-more">Filter einblenden</div>
            <div class="tx_ejwcalendar-filter-collection">
            	Organisatoren:
                <select class="chzn-container chzn-container-single" name="tx_ejwcalendar-filter-organizers" id="tx_ejwcalendar-filter-organizers">
			<option>Alle</option>
			<f:for each="{organizers}" as="organizer">
				<option>{organizer.name}</option>
			</f:for>
		</select>
		Kategorien:
		<select name="tx_ejwcalendar-filter-categories" id="tx_ejwcalendar-filter-categories">
			<option>Alle</option>
			<f:for each="{categories}" as="category">
				<option>{category.name}</option>
			</f:for>
		</select>
            </div>
            <div class="ejwcalendar-clear"></div>
            </div>
            <div class="tx_ejwcalendar-searchbar">
                Suchen: <input id="tx_ejwcalendar-searchbox" />
            </div>
        <!--</div>-->
        <f:for each="{years}" key="year" as="months">
            <f:for each="{months}" key="month" as="appointments">
                <div id="tx_ejwcalendar-{month}-{year}" class="tx_ejwcalendar-month">
                    <h2><ejw:renderMonth month="{month}" /> {year}</h2>
                    <f:for each="{appointments}" as="appointment">
                        <div id="tx_ejwcalendar-appointment-{appointment.uid}" class="tx_ejwcalendar-appointment">
                            <div class="tx_ejwcalendar-color" style="background-color:{ejw:determineColor(appointment:appointment)}"></div>
                            <div class="tx_ejwcalendar-info">
                                <div class="tx_ejwcalendar-title">{appointment.title}</div>
                                <div class="tx_ejwcalendar-date"><ejw:renderTime appointment="{appointment}" /></div>
                                <div class="tx_ejwcalendar-categories"><ejw:renderObjects objects="{appointment.categories}" delimiter=", " /></div>
                                <div class="tx_ejwcalendar-organizers"><ejw:renderObjects objects="{appointment.organizers}" delimiter=", " /></div>
								<div class="tx_ejwcalendar-place">{appointment.place}</div>
								<f:if condition="{appointment.description}">
                                    <div class="tx_ejwcalendar-more">Weitere Informationen</div>
                                    <div class="tx_ejwcalendar-description"><f:format.html>{appointment.description}</f:format.html></div>
                                </f:if>
                                <div class="ejwcalendar-clear"></div>
                            </div>
                            <div class="ejwcalendar-clear"></div>
                        </div>
                    </f:for>
                </div>
            </f:for>
        </f:for>
        <div id="tx_ejwcalendar-message"></div>
    </div>

</f:section>