@charset "UTF-8";



/* gruppenfinder */

/* infobubbles */

.ejw-gruppe-infowindow { color:#fff; font-size:15px; background: #f9a441; line-height:18px; overflow:hidden; }
.ejw-gruppe-infowindow p { margin:0; }
.ejw-gruppe-zielgruppe { color:#443f3a; padding-left:15px; padding-right:15px; padding-bottom:5px; color:#fff; }
.ejw-gruppe-title { font-weight:bold; padding:15px; padding-bottom:0px; -webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px; }
.ejw-gruppe-zeit { padding-left:15px !important; padding-top:15px !important;  }
.ejw-gruppe-leitung { padding:0px; padding-left:15px; padding-right:15px; padding-bottom:15px;  }
.ejw-gruppe-gemeinde { padding:15px;  border-top:1px solid #efefef; }
.ejw-gruppe-ansprechpartner { color:#443f3a; padding:15px; background:#fef1e3; -webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.ejw-gruppe-ortswerk { padding:15px; background:#fff; }
.ejw-gruppe-standort { background:#fff; color:#333; font-weight:700; padding:10px; padding-top:25px;}
/* controls */



.ejw-gruppe-infowindow .MA .ejw-gruppe-gemeinde { border-top:1px solid #fef1e3; }
.ejw-gruppe-infowindow .HP .ejw-gruppe-gemeinde { border-top:1px solid #499c53; }
.ejw-gruppe-infowindow .HMP .ejw-gruppe-gemeinde { border-top:1px solid #b80f4e; }

.ejw-gruppe-gemeinde a:link, .ejw-gruppe-gemeinde a:visited  {
color:#fff;
text-decoration:underline;
}

.ejw-gruppe-infowindow .MA {
background-color:#f9a441;
}

.ejw-gruppe-infowindow .HP {
background-color:#6c9d74;
}


.ejw-gruppe-infowindow .HMP {
background-color:#b93b66;
}


/* filter */
#filters { margin-top:0; }

/* map */
#map_canvas { width:940px; height:600px; }

#adressenliste {
display:none;
}

#finder-adresse {
width:239px !important;
float:left;
margin-right:0px !important;
}

#finder-submit {
float:right;
padding-bottom:10px;


-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;


}

.gruppenfinder-legende {
border:0px;
font-size: 14px;
}

.gruppenfinder-legende td {
vertical-align:middle !important;

}

.karte-zentrieren-container {
float:left;
width:48%;
}

#finder-adresse-form {
margin:0px;
margin-top:-10px;
}

.gemeinde-auswahl-container {
float:right;
width:48%;
}
.gemeinde-auswahl-container .chosen-container {
float:left !important;
}

#finder-gemeinde-form {
width:100%;
}