<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:renderFlashMessages class="tx-extbase-flash-message" renderMode='div'/>
				
				<f:be.tableList tableName="tx_ejwintern_domain_model_gruppe" fieldList="{0: 'name'}" storagePid="114" clickTitleMode="edit" recordsPerPage="20" alternateBackgroundColors="true"/>


			</div>
		</div>
	</div>
</f:be.container>
