<table class="tx-ejw-calendar" >
	<tr>
		<td>
			<f:translate key="tx_ejwcalendar_domain_model_appointment.title" />
		</td>
		<td>
			{appointment.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ejwcalendar_domain_model_appointment.start" />
		</td>
		<td>
			{appointment.start}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ejwcalendar_domain_model_appointment.end" />
		</td>
		<td>
			{appointment.end}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ejwcalendar_domain_model_appointment.description" />
		</td>
		<td>
			{appointment.description}
		</td>
	</tr>
</table>