.tx_ejwcalendar{
    font-family: "Droid Sans";
    color: #443f3a;
    font-size: 13px;
}

.ejwcalendar-clear{
    clear:both;
}

.tx_ejwcalendar h2{
    margin: 0 0 25px;
}

.tx_ejwcalendar-month{
    margin: 45px 0 90px;
}

.tx_ejwcalendar-appointment{
    margin-bottom: 5px;
    border-bottom: 1px solid #f9a441;
    padding: 5px 0;
    position: relative;
    display: block;
}

.tx_ejwcalendar-color {
    width: 10px;
    /* height will be set via javascript */
    float: left;
}

.tx_ejwcalendar-info {
    width: 600px;
    float: right;
}

.tx_ejwcalendar-title {
    font-size: 15px;
    font-weight: bold;
    float: left;
    width: 345px;
}

.tx_ejwcalendar-date {
    font-size: 15px;
    font-weight: bold;
    float: right;
    width: 250px;
    text-align: right;
}

.tx_ejwcalendar-categories, .tx_ejwcalendar-place{
    color: #b1b1b1;
    font-weight: bold;
    float: left;
    width: 345px;
}

.tx_ejwcalendar-place{
    margin-bottom: 8px;
}

.tx_ejwcalendar-organizers {
    display: none;
}

.tx_ejwcalendar-more {
    color: #f9a441;
    font-weight: bold;
    float: left;
    width: 345px;
    cursor: pointer;
    margin-bottom: 8px;
}

.tx_ejwcalendar-description {
    clear: both;
    font-size: 15px;
    display:none;
}

.tx_ejwcalendar-searchbar {
    padding: 10px 12px;
background-color: #FEF1E3;
margin: 4px 0;
font-weight: bold;
display: none;
}

#tx_ejwcalendar-searchbox {
    height: 20px;
width: 200px;
border: 1px solid #fbd8b3;
margin-left: 10px;
background-color: #ffffff;
padding: 4px;
margin-top: 0px;
font-size:0.9em;
}

.tx_ejwcalendar-filterbox {
    background-color: #FEF1E3;
    /*padding: 20px 10px 20px 20px;*/
    margin: 4px 0;
}

.tx_ejwcalendar-filter-more {
    color: #f9a441;
font-weight: bold;
cursor: pointer;
line-height: 13px;
padding: 10px 10px 10px 10px;
margin-top: 25px;
}

.tx_ejwcalendar-filter-collection {
    margin-top: 5px;
display: none;
margin-left: 11px;
margin-right: 10px;
font-weight:bold;
}

.tx_ejwcalendar-filter-collection select {
    border: 1px solid #fbd8b3;
    font-size:0.9em;
    margin-right:10px;
    background-color:#fff;
    height: 25px;
    padding-top:3px;

}

.tx_ejwcalendar-filter-collection select:first-child {
    margin-right:20px;
}

.tx_ejwcalendar-filter-organizer, .tx_ejwcalendar-filter-category {
    padding: 7px 0 7px 0;
    display: inline-block;
    float: left;
    margin: 3px;
    font-weight: bold;
}

.tx_ejwcalendar-filter-organizer label, .tx_ejwcalendar-filter-category label {
    display: inline;
    cursor: pointer;
    padding: 7px 13px 7px 13px;
}

.tx_ejwcalendar-filter-organizer {
    color: #ffffff;
}

.tx_ejwcalendar-filter-category {
    background-color: #ffffff;
    border: 1px solid #f9a441;
}

.tx_ejwcalendar-checkbox-category, .tx_ejwcalendar-checkbox-organizer {
    margin: 0 10px 0 0;
    cursor: pointer;
}

#tx_ejwcalendar-message{
    font-size: 15px;
    font-weight: bold;
}