.theme-ptnivoslider .nivo-caption {
	width: 59%;
    margin: 1% 1% 0% 40%;
    border-radius: 5px;
    text-align: center;
}

.theme-ptnivoslider .nivo-directionNav a {
    background-color: #000;
    opacity:0.8;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    top:45%;
}

.theme-ptnivoslider .nivo-controlNav {
    width: 96%;
    text-align: center;
    background-color: #000;
    color: #fff;
    opacity: 0.3;
    border-radius: 5px;
    z-index: 8;
    padding: 1%;
    margin: 1%;
}

.theme-ptnivoslider .nivo-controlNav:hover{
    opacity: 0.8;
}

.nivoSliderCapsule {
    position: relative;
}

.ptNivoStartStopButton {
    position: absolute;
    z-index: 9;
    width: 79px;
    height: 79px;
}

#ptNivoStartButton {
    background:url(../Images/play.png) no-repeat;
}

#ptNivoStopButton {
    background:url(../Images/pause.png) no-repeat;
}

.ptNivoThumbbarButton {
    position:absolute;
    z-index: 9;
    bottom: 20px;
    height: 39px;
    width: 39px;
}

#ptNivoRightButton {
    right: 3px;
    background:url(../Images/Pfeil-Rechts.png) no-repeat;
}

#ptNivoLeftButton {
    left: 3px;
    background:url(../Images/Pfeil-links.png) no-repeat;
}

.ptNivoThumbbarButton:hover {
    cursor: pointer;
}

.ptNivoStartStopButton:hover {
    cursor: pointer;
}




/* pt-extended */

.theme-ptextended .nivo-caption {
	position: absolute;
    bottom: 85px;
    right: 0px;
    padding: 0px 10px;
    margin: 0px 5% 5% 0px;
    border-radius: 5px;
    text-align: center;
}

.theme-ptextended .nivo-directionNav a {
	display:block;
	text-indent:-9999px;
    opacity: 0.8;
	border:0;
    width: 39px;
    height: 39px;
    top:45%;
}
.theme-ptextended a.nivo-nextNav {
	background:url(../Images/Pfeil-Rechts.png) no-repeat;
	right: 3px;
}
.theme-ptextended a.nivo-prevNav {
	background:url(../Images/Pfeil-links.png) no-repeat;
    left: 3px;
}

.theme-ptextended .nivoSlider {
    overflow-x: hidden;
}

.theme-ptextended .nivo-controlNav {
    bottom: 0px;
    background-color: transparent;
    color: #000;
    opacity: 1;
    z-index: 8;
    height: 85px;
    left: 0;
}

.theme-ptextended .nivo-controlNav img {
    padding: 5px;
    height: 75px;
}






/* pt-media */

.theme-ptmedia .nivo-caption {
	position: absolute;
    bottom: 0px;
    padding: 0px 10px;
    text-align: center;
}

.theme-ptmedia .nivo-directionNav a {
	display:block;
	text-indent:-9999px;
    opacity: 0.8;
	border:0;
    width: 39px;
    height: 39px;
    bottom: 50px;
}
.theme-ptmedia a.nivo-nextNav {
	background:url(../Images/vorspulen.png) no-repeat;
}
.theme-ptmedia a.nivo-prevNav {
	background:url(../Images/rueckspulen.png) no-repeat;
}

.theme-ptmedia .ptNivoStartStopButton{
    bottom: 30px;
}








/* pt-plain */

.theme-ptplain .nivo-caption {
	position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 10px;
    margin: 0px 5% 5% 0px;
    border-radius: 5px;
    text-align: center;
}






/* pt-simple */

.theme-ptsimple .nivo-caption {
	width: 100%;
    bottom: 0px;
    text-align: center;
}

.theme-ptsimple .nivo-directionNav a {
	display:block;
	width:121px;
	height:44px;
	text-indent:-9999px;
    opacity: 0.8;
	border:0;
    top:70%;
}
.theme-ptsimple a.nivo-nextNav {
	background:url(../Images/Doppelpfeile-Rechts.png) no-repeat;
	right:0px;
}
.theme-ptsimple a.nivo-prevNav {
	background:url(../Images/Doppelpfeile-Links.png) no-repeat;
    left:0px;
}








/* pt-thumbs */

.theme-ptthumbs .nivoSlider {
    overflow: hidden;
}

.theme-ptthumbs .nivo-caption {
    width: 100%;
    text-align: center;
    bottom: 85px;
}

.theme-ptthumbs .nivo-controlNav {
    bottom: 0px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
    z-index: 8;
    height: 85px;
    left: 0;
}

.theme-ptthumbs .nivo-controlNav img {
    padding: 5px;
    height: 75px;
}



