@charset "UTF-8";


/*
##########################################################
Breadcrumnb
##########################################################
*/

.breadcrumb {
	padding-top:10px;
	font-size:0.75em;
	border-bottom: 1px solid #e5e5e5;
	color:#909090;
	margin-bottom:48px;
}


.breadcrumb a:hover {
	text-decoration:none;
	color:#000;
}
