@charset "UTF-8";


/*
##########################################################
Calendar
##########################################################
*/


.calendar-list .summary {
width: 100%;
}
.cal-more{
background-image:url(../images/arrow-down.png);
background-repeat:no-repeat;
cursor: pointer;
height:46px;
background-color:#f9a441;
background-position:center;
width:60px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin:auto;
}

.cal-more-open{
background-image: url("/fileadmin/templates/images/arrow-up.png");
background-repeat:no-repeat;
cursor: pointer;
height:46px;
background-color:#f9a441;
background-position:center;
width:60px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin:auto;
}



.calendar-list dd{
  display:none;
}


.cal-left-column {
width: 48%;

}

.cal-left-column {
float:left;
}

.cal-right-column {
float:right;
width:40%;
text-align:right;
}

.cal-right-column input {
margin-right:0px;
float:left;
width:132px;
margin:0px;
}

.cal-right-column input[type=submit] {
float:right;
width:90px;
margin-top:-23px;


-webkit-border-bottom-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
padding-bottom:11px;
}

.cal-center-column {
float:left;
font-style:italic;
background-repeat: repeat-y;
background-position:center 100px;
height:100px;
text-align:center;
}

.cal-search-container {
border-top: 1px solid #fef1e3;
}


.cal-month-wrapper {

margin-top:70px;

}

.cal-month-wrapper h2 {
margin-bottom:20px;
}

.cal-month-wrapper:first-child {
margin-top:0px;
}


.pagebrowser {
margin-top:40px;
}

.pagebrowser a:link, .pagebrowser a:visited, .pagebrowser span b {
padding:4px;
background-color:#f9a441;
display:inline-block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:20px;
text-align:center;
color:#fff;
margin-right:3px;
border:1px solid #f9a441;
}

.pagebrowser span:first-child {
margin-left:20px;
}

.pagebrowser span b {
background-color:#fbd8b3;
color:#333333;
margin-right:3px;
border:1px solid #f9a441;

}

.pagebrowser a:hover {
color:#ffde00;
}

.cal-list-entry {
padding-top:10px;
padding-bottom:10px;
border-bottom:1px solid #f9a441;

}


.startdate-enddate {
text-transform:uppercase;
font-weight:700;
font-size:12px;
margin-bottom:3px;
}

