@charset "UTF-8";


/*
##########################################################
Content Elements
##########################################################
*/

.csc-textpic-intext-left-nowrap img  {
	margin-right:20px;
}

.csc-textpic-caption  {
	font-size:12px;
	text-transform:uppercase;
	text-align:right;
	font-weight:bold;
	border-top:2px solid #f9a441;
	padding:5px;
	padding-right:0px;
}


hr {
	color:#f9a441;
	height:1px;
	border:0px;
	border-bottom:1px solid #f9a441;
	background-color:#f9a441;
}

.divider {
	margin-top:40px;
	margin-bottom:35px;
}

li.csc-textpic-image:before {
	content:"";
}

li.csc-textpic-image {
	padding:0px;
	margin:0px;
}

.csc-textpic-single-image {

}

.csc-textpic-above {
margin-top: 30px;
}

.csc-textpic-below .csc-textpic-text {
margin-bottom: 50px;
}
