/************** Skin 1 *********************/
.dd {
	/*display:inline-block !important;*/
	text-align:left;
	background-color:#fef1e3;
	float:left;
	
}
.dd .ddTitle {
	overflow:hidden;
	width:260px;
	
	color:#fff !important;
font-weight:700;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color:#f9a441;
padding:10px;
padding-bottom:9px;
padding-top:8px;
background-image:url(../images/dropdown-arrow.png); 
background-repeat:no-repeat;
background-position:right 7px;
cursor:pointer !important;
z-index:20 !important;
position:absolute;
}
.dd .ddTitle span.arrow {
	
}

.dd .ddTitle span.ddTitleText {text-indent:1px; overflow:hidden;}
.dd .ddTitle span.ddTitleText img{text-align:left; padding:0 2px 0 0}
.dd .ddTitle img.selected {
	padding:0 3px 0 0;
	vertical-align:top;
}
.dd .ddChild {
	position:absolute;
	width:278px !important;
	border:1px solid #c3c3c3;
	border-top:none;
	display:none;
	margin:0;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#ffffff;
	height:250px !important;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
z-index:1 !important;
margin-top:15px;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {
	display:block;
	padding:10px;
	text-decoration:none;
	color:#000;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer !important;
}
.dd .ddChild a:hover {
	background-color:#fef1e3;
}
.dd .ddChild a img {
	border:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}
.dd .ddChild a.selected {

display:none;
	
}
.hidden {display:none;}

.dd .borderTop{border-top:1px solid #c3c3c3 !important;}
.dd .noBorderTop{border-top:none 0  !important}

