@charset "UTF-8";


/*
##########################################################
Footer
##########################################################
*/
.column-flex{
 margin-right: 50px;
}

body > .footer {
  width:100%;
  background-color:#008b50;
  clear:both;
  padding-top: 20px;
}

.bildmarke-klein{
	background-image: url(../Img/bildmarke-klein.png);
	width: 33px;
	height: 48px;
}

.footer-search {
  float:right;
  margin-top:0px;
  text-align:right;
  margin-top:-10px;
}

.footer-search input {
  float:left;
  margin-top:10px;
  padding:7px;
}

.footer-search input[type=submit] {
  color:#fff !important;
width:80px !important;
margin-right:0px !important;
padding-right:0px !important;
}


.footer-search p{
	float: right;
}

.footer-facebook {
  
color:#fff !important;
  margin-top:20px;
  text-align:left;
}

.facebook-like {
  margin-top:5px;
}

.facebook-like span {
  color:#fff !important;
}

.connect-widget {
  color:#fff !important;
}

.footer-line {
  height:1px;
  background-color:#e5e5e5; 
  margin-bottom:20px;
  margin-top:20px;
}

.nav-footer {
  padding-bottom:40px;
  padding-top:0px;
}

.nav-footer ul {
  list-style: none;
  padding:0px;
}

.nav-footer li {
	list-style:none;
}

.nav-footer a:link, .nav-footer a:visited, .footer-search a:link, .footer-search a:visited {
  display:block;
  font-family:"Kreon";
  color:#e5e5e5; 
}

.nav-footer a:hover, .footer-search a:hover {
  color:#c7c7c7; 
}

sitemap_head {
  margin-top:30px;
  font-weight:700;
}

.nav-footer a.first-level {
  font-weight:700;
}

.nav-footer a.first-level {
  margin-top:30px;
}



.footer-second-row {
  font-size:0.8em;
  padding-top:20px;
  padding-bottom:60px;
}

.footer-second-row div {
  float:left;
  margin-right:20px;
  margin-top:-5px;
}

.footer-second-row p{
	float: right;
}