@charset "utf-8";


/*
##########################################################
powermail
##########################################################
*/

/* Powermail */
	/* Form */
span.powermail_mandatory {
	/* Color of mandatory error message */
	color: red;
}


	/* Confirmation */
td.powermail_all_td {
	padding: 3px 10px 3px 0;
}

	/* THX */
td.powermail_all p.bodytext {
	margin: 0;
}



/* error message */
.error {
	/* supply height to ensure consistent positioning for every browser */
	background-color:#FF0000;
	border:1px solid #FF0000;
	font-size:11px;
	color:#fff;
	padding:3px 10px 5px 10px;
	margin-left:-2px;
    z-index:10;
    text-align:left;
    height:auto;


/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
	box-shadow:0 0 6px #ddd;
}

.error p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

/* pure CSS arrow */
html:root .error em {
	display:block;
	width:0;
	height:0;
	border:10px solid;
	border-color:#FF0000 transparent transparent;

	/* positioning */
	position:absolute;
	bottom:-10px;
	left:5px;
	border-bottom:0 none;
}

/*
##########################################################
forms
##########################################################
*/


input, textarea, #onlineanmeldung input[type="text"], #onlineanmeldung textarea, .tx-powermail-pi1 input[type="text"], .tx-powermail-pi1 textarea {
	background-color: #FAFFFA;
	border:1px solid #A1C6A6;
	padding:12px;
	font-family:"droid sans";
	color:#333333;
	font-size:15px;
	margin-right:10px;
	margin-top:10px;
}

input[type=submit] {
	background-color:#f9a441;
	color:#fff;
	font-weight:bold;
}

input[type=checkbox], input[type=radio] {
	background-color:transparent;
	border:0px;
}

#freizeitenfinder input {
background-image: url(../images/lupe.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right:20px;
}

input:focus, #onlineanmeldung input:focus {
	border:1px solid #f9a441;
	color:#333333;
}






fieldset {
background:transparent;
border:0px;
padding:0px;
}

label {
margin-top:4px;
width:100%;
display:block;
font-weight:700;
}


legend {
display:none;

}

#onlineanmeldung input {
font-size:15px;
width:90%;
margin-bottom:20px;
}

#rueckfragen input, #rueckfragen textarea {
font-size:15px;
width:60%;
}

.rueckfragen-tel {
width:40%;
}

#rueckfragen input[type=submit] {
font-size:15px;
width:40%;
}

#onlineanmeldung textarea, #fortbildung_anmeldung textarea {
width:55%;
}

.onlineanmeldung-freizeitnummer {
float:left;
width:22%;

}

.onlineanmeldung-in {
float:left;
margin-top:20px;
margin-left:30px !important;
}

.onlineanmeldung-freizeitnummer input {
	width:40px !important;
	font-size:2em !important;
	color:#000 !important;
	text-align:center !important;
	padding-right:12px !important;
	font-weight:bold !important;
float:left;
margin-left:140px !important;
margin-top:-40px !important;
}

.onlineanmeldung-in label { 
float:left !important;
width:50px !important;
padding-top:17px;
}

.onlineanmeldung-in input { 
width:356px !important;
}

.onlineanmeldung-freizeitnummer label {
	margin-right:30px !important;
	margin-top:40px !important;

}

.onlineanmeldung-gebdatum {
width:120px;
float:left;
height:101px;
margin-top:-5px;
}

.gebdatum {
width:120px;
}

.onlineanmeldung-geschlecht {
float:right;
margin-top:-15px;
margin-bottom:-30px;

}

.onlineanmeldung-erziehungsberechtigter {
clear:both;
padding-top:0px;
display:block;
}

.onlineanmeldung-bereitsteilgenommen, .onlineanmeldung-reisebedingungen,.onlineanmeldung-newsletter,.onlineanmeldung-erlaubnis {
	clear:both;
	border-bottom:1px solid #ccc;
	height:70px;
	padding:10px;
	padding-top:0px;
	width:866px;
}

.onlineanmeldung-erlaubnis {
	border-bottom:0px;
}

.tx-powermail-pi1_fieldset {
margin-top:25px;
}

fieldset.linkespalte {
width:48%;
float:left;
}

fieldset.rechtespalte {
width:48%;
}


fieldset.ganzebreite {
width:100% !important;
display:block !important;
}

.onlineanmeldung-jssippe {
width:48%;
}

.powermail_check_inner {

}

.checkbox-item input, .radio-item input  {
width:60px !important;
margin:0px !important;
padding:0px !important;
margin-left:0px !important;
}

.checkbox-item, .radio-item {
float:left;
margin-top:-20px;
}

.checkbox-descr, .radio-descr {
	font-weight:700;
}

.error {
font-size:14px;
padding:10px;
}

.onlineanmeldung-anmelden {
	width:910px;
text-align:center;
background-color:#fef1e3;
padding:15px;
margin-top:40px !important;
}

.onlineanmeldung-anmelden input {
width:300px !important;
background-color:#f9a441 !important;
color:#fff !important;
margin:auto !important;
margin-top:40px;
font-size:20px !important;
}

.tx_powermail_pi1_fieldwrap_html {
margin-bottom:20px !important;
}

.tx_powermail_pi1_fieldwrap_html:after {
content:"clear";
clear:both;
font-size:0em;
display:hidden;
}

#meineaktuelleadresse .tx_powermail_pi1_fieldwrap_html:after, #fortbildung_anmeldung .tx_powermail_pi1_fieldwrap_html:after {
content:" ";
clear:both;
font-size:0em;
display:none;
}


#meineaktuelleadresse input, #fortbildung_anmeldung input {

width:70%;

}

#meineaktuelleadresse input[type=submit], #fortbildung_anmeldung input[type=submit] {

width:140px;

}