.fortbildung {
	
	margin-bottom:10px;
	
}

.fortbildung-teaser {
	background-color:#fef1e3;
	padding:10px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
	
}
.fortbildung-nummer {
	font-family:"Kreon";
	font-size:25px;
	color:#fff;
	font-weight:700;
	float:left;
	background-color:#f9a441;
	min-width:25px;
	height:32px;
	text-align:center;
	margin-right:10px;
	padding-top:13px;
	padding-left:10px;
	padding-right:10px;
	  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	
}
.fortbildung-titel {
	float:left;
	font-weight:700;
	width:75%;
}


.fortbildung-untertitel {
float:left;
width:75%;
}

.fortbildung-juleica {
float:right;
width:73px;
height:40px;
background-image:url(../images/juleica-badge.png);
background-repeat:no-repeat;
}


.fortbildung-mehrinfos { 
background-image:url(../images/arrow-down.png);
background-repeat:no-repeat;
cursor: pointer;
height:46px;
background-color:#f9a441;
background-position:center;
width:60px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin:auto;
}

.fortbildung-open { 
background-image:url(../images/arrow-up.png);
}

.fortbildung-line {
height:2px;
background-color:#f9a441;
}

.fortbildung-details { 
display:none;
padding:10px;
background-color:#fef1e3;
margin-bottom:0px;
border-top:1px solid #fbd8b3;
}
.fortbildung-text {
width:58%;
float:left;
clear:both;
}

.fortbildung-right-column {
width:40%;
float:right;
}
.fortbildung-infos {
padding:15px;
background-color:#fbd8b3;
margin-top:10px;
padding-top:5px;
padding-bottom:5px;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
.fortbildung-belegt {
display:block;
text-align:center;
padding-top:10px;
background-color:#fbd8b3;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
padding-top:10px;
padding-bottom:10px;
margin-top:5px;
}
.fortbildung-anmelden a:link {
display:block;
text-align:center;
padding-top:10px;
background-color:#f9a441;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
padding-top:10px;
padding-bottom:10px;

}

.fortbildung-anmelden a:link, .fortbildung-anmelden a:visited {
color:#fff;
font-size:20px;
font-weight:bold;
text-shadow: 1px 1px 1px #c47f35;
filter: dropshadow(color=#c47f35, offx=1, offy=1);
}

.fortbildung-anmelden a:hover {
	color:#ffde00;
}