@charset "utf-8";


/*
##########################################################
freizeitfinder
##########################################################
*/

#container-freizeitfinder {
  padding-top:30px;
  } 

.freizeit {
  width: 220px;
  height: 380px;
  margin-bottom:10px;
  
  overflow: hidden;
  
  background: #fef1e3;
  color: #222;
  font-weight:700;
  border:1px solid #f6a240;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  
}



.freizeit-titel {
  background-color:#f6a240;
  height:60px;
  overflow:hidden;
  border-bottom:1px solid #fff;
  padding-left:10px;
  padding-right:10px;
  margin-top:-10px;
  position:relative;
  padding-top:35px;
  
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  }
  
 .pfadfinder .freizeit-titel{
  background-color:#6c9d74;
}


.pfadfinderinnen .freizeit-titel {
  background-color:#b93b66;
}
  
.freizeit-foto {
-webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}  

.freizeit-titel h1 {
  color:#fff !important;
  font-weight:700 !important;
  font-size:1.5em;
  line-height:1.2em;
  
  }

.freizeit-number {
  display:block;
  position:absolute;
  margin-left:10px;
  color:#fff;
  margin-top:15px;
  font-size:2em;
  padding:5px;
  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}


.freizeit-foto {
  width:220px;
  height:170px;
  overflow:hidden;
  /*font-size:0;
  text-indent:-999px;*/
  background:#f6a240;
}

.freizeit-facts {
  padding-left:10px;
  padding-right:0px;
  font-size:0.9em;
  color:#664c2d;

}

.mehr-informationen, a.mehr-informationen:visited {
  color:#f6a240;
  font-size:0.9em;
  padding-left:10px;
  padding-right:10px;
  text-decoration:none;
}

  

/* the magnificent clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
  
  

/*
##########################################################
freizeit einzeln
##########################################################
*/

.freizeit-einzeln-titel {
  float:left;
}

.freizeit-leistungen, .freizeit-anmelden {
  color:#fff;
  background-color:#f9a441;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
padding-top:2px;
padding-bottom:10px;

}

.freizeit-anmelden {
text-align:center;
padding-top:10px;
background-color:#f9a441;
}

.freizeit-anmelden a:link, .freizeit-anmelden a:visited {
color:#fff;
font-size:20px;
font-weight:bold;
text-shadow: 1px 1px 1px #c47f35;
filter: dropshadow(color=#c47f35, offx=1, offy=1);
}

.freizeit-anmelden a:hover {
  color:#ffde00;
}

.freizeit-leistungen p {
margin-bottom:-5px;
border-bottom:1px solid #fbd8b3;
display:block;
padding-left:20px;
padding-right:25px;
padding-top:0px;
padding-bottom:10px;
}

.freizeit-leistungen p:last-child {
border-bottom:0px solid #fbd8b3;
}

.freizeit-leistungen a:link, .freizeit-leistungen a:visited {
  color:#fff;
  text-decoration:underline;
}



.freizeit-datum {
  float:right;
  text-align:right;
  margin-top:-4px !important;
}

.freizeit-facebook {
  margin-bottom:20px;

margin-top:20px;
  }


.freizeit-slideshow-map-chooser {
  margin-bottom:7px;
  margin-top:20px;
}

.button-online-anmelden {
  position:absolute;
  z-index:10;
  float:right;
  margin-left:830px;
  margin-top:-20px;
}

.button-online-anmelden img{
  width:130px;
  height:auto;
}


.button-online-anmelden:hover img{
  transition-property: width, margin-top, margin-left;
  transition-duration: 4s;
  width:140px;
  height:auto;
  margin-top:-5px;
  margin-left:-5px;
}

.reisebedingungen-herunterladen, .rueckfragen-formular {
  display:block;
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left:40px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight:700;
}

.reisebedingungen-herunterladen {
background-image: url(../images/icon-download.png)
}

.reisebedingungen-herunterladen:hover {
background-image: url(../images/icon-download-hover.png)
}

.rueckfragen-formular {
background-image: url(../images/icon-mail.png)
}

.rueckfragen-formular:hover {
background-image: url(../images/icon-mail-hover.png)
}


.nivoSlider {
  margin-bottom:0px;
}

#freizeit-slider {

width:940px;
height:500px;
background-image:url(../images/spinner.gif);
background-position:center center;
background-repeat:no-repeat;
margin-bottom:30px;
}

#freizeit-slider img {
  display:none;
}



  
/*
##########################################################
isotope-styles
##########################################################
*/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** isotope css3 transitions ****/

.isotope,
.isotope .isotope-item {

  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
         
}


.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}



/* disable css transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

.freizeit-belegt{
background:url('../images/belegt-banner.png');
width:188px;
height:96px;
position:absolute;
top:0;
right:0;
}

.mehr-lesen-link{
background:#f9a441 url(../images/arrow-down.png) 95% 50%  no-repeat;
cursor: pointer;
width:100px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
   color: #FFFFFF !important;
    display: block;
    font-size: 0.95em;
    font-weight: 700;
  padding: 5px;
}
.weniger-lesen-link{
background:#f9a441 url("/fileadmin/templates/images/arrow-up.png") 95% 50%  no-repeat;
cursor: pointer;
width:100px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
  color: #FFFFFF !important;
display: block;
    font-size: 0.95em;
    font-weight: 700;
padding: 5px;

}
