@charset "UTF-8";


/*
##########################################################
Gruppenfinder
##########################################################
*/

#gemeinde-button {
	color:#fff !important;
	font-weight:700;
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#f9a441;
	padding:10px;
}

/*
##########################################################
Gruppeneinzelansicht
##########################################################
*/

.gruppe {
	border-bottom: 1px solid #cccccc;
	padding-bottom:10px;
	padding-top:10px;
}

.gruppe:last-child {
	border-bottom: 0px;
}

.gruppe-art {
	background-color:#f9a441;
	color:#fff;
	font-weight:700;
	padding:8px;
	margin-top:20px;
	display:block;
	margin-bottom:0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.zielgruppe-pfadfinder {
	background-color:#6c9d74;
}


.zielgruppe-pfadfinderinnen {
	background-color:#b93b66;
}

.gruppe-art:first-child {
	margin-top:15px;
}

.portrait-box {
	margin-top:15px;
	border-top:2px solid #f9a441;
	background-color:#fef1e3;
}

.portrait-box p {
padding: 20px;
padding-top: 2px;
padding-bottom: 0px;
}

#gemeinde-koordinaten {
display:none;
}

.gemeinde-headline {

margin-bottom:25px !important;

}
