@charset "utf-8";


/*
##########################################################
hauptamtliche
##########################################################
*/
.portrait {
float:left;
margin-right: 30px; 
margin-bottom:20px;
}

.name {
margin-bottom:30px;
}

.name h2 {
margin-top:0px;
}

.hauptamtlicher {
border-bottom:1px solid #f9a441;
padding-bottom:30px;
margin-bottom:40px;
padding-top:20px;
}

.hauptamtlicher:after {
content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bio {
float:left;
}

.kontaktdaten {
margin-top:30px;
}