@charset "UTF-8";


/*
##########################################################
IE8Styles
##########################################################
*/

.button-big {

padding-bottom:20px;

}

.button-big-text {
width:150px;
}

.slideshow-startseite .nivo-caption {
padding-bottom:7px;
padding-top:4px;
}

p.freizeit-facts {
font-size:0.85em;
}

.freizeit-number {
background-color:#f9a441;
}