
/*
##########################################################
main navigation
##########################################################
*/

.geruest-nav {
  height: 46px;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.startseite #nav-main {
  overflow:hidden;
}

#nav-main {
  width:990px;
  background-color:#fff;
  z-index: 1000;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: block;
  height: 46px;
  /*
  margin: -6px auto 0 auto;
  border-collapse:collapse;
  background-color:#fff;

  margin-bottom:0px;
  margin-top:-6px;
  padding-bottom:0px;*/
}

.nav-main-abschluss {
  background-color:#008b50;
  height:3px;
  width:990px;
  margin:auto;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  z-index: 999;
  /*display: none;*/
}

#nav-main li {
  margin-bottom:0px;
  padding-bottom:0px;
}

#nav-main li ul li {
  display:inherit;
}

#nav-main a:link, #nav-main a:visited {
  /*outline: 1px solid blue;*/
  color:#000;
  margin: 0;
  padding: 0;
  font-family:"kreon";
  padding: 14px 0 11px;
  display: inline-block;
  font-size:1.1em;
  float: left;
  height: 50px;
  /*
  display:block;
  text-decoration:none;
  margin-top:-3px;
  font-size:1.1em;
  height:37px;
  padding:0px;
  padding-top:14px;
padding-bottom:0px;
margin-bottom:-2px;
margin-left:0px;
margin-right:0px;
width:auto;
text-align:center;
  */
}

#nav-main a.active:link, #nav-main a.active:visited, #nav-main a.current:link, #nav-main a.current:visited, #nav-main a:hover {
  background-color: #008b50;
  color:#fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 
}



#nav-main a:hover {
 height:22px;
}

#nav-main a.currentID:hover {
 height:50px;
}

.nav-main-trenner {
  text-align:center;
  padding:0px;
  margin:0px;
  float:left;*/
}

#nav-main .subnav {
  padding-top:0px;
  position:absolute;
  z-index:500;
  opacity:0.95;
  width:100%;
  top: 45px;
  left:0px;
  margin-top:0px;
  display:none;
  padding-right:0px;
  background-color:#008b50;
}
  
#nav-main .subnav-container {
  text-align:right;
  padding:0px;
  padding:20px;
  padding-left:0px;
  padding-right:0px;
}
  
#nav-main .subnav-container a:link, #nav-main .subnav-container a:visited{
  color:#fff;
  padding:0px;
  margin:0px;
  float:none;
  display:inline;
}

#nav-main .subnav-container a:hover, #nav-main .subnav-container a.active-2:link, #nav-main .subnav-container a.active-2:visited  {
  color: #27E596 !important;
}

#nav-main .subnav ul {
  margin: 0;
  padding: 0;
}

/*
##########################################################
second level navigation (in-content, moves with scrolling
##########################################################
*/


.second-level-nav-container {
  width:240px;
  float:right;
  margin-top:55px;
  }


.second-level-nav{
	border-top: 2px solid #008b50;
}

.fixed {
  margin-top:0px;
  position:fixed;
  
  }

.second-level-nav a{
  display:block;
  text-align:right;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom:4px;
  padding-top:4px;
}

.second-level-nav a.active{
  color:#000;
}

/*
##########################################################
toolbar-nav (upper left corner in the header
##########################################################
*/

.toolbar-nav {
  float:left;
  font-family:"kreon";
  font-size:0.7em;
  color:#6b6b6b;
  margin-left:14px;
  margin-top: 20px;
}

.toolbar-nav a:link, .toolbar-nav a:visited{
  color:#6b6b6b;
  text-transform: uppercase;
}

.toolbar-nav a:hover{
  color:#333333;
}


.link-hausheliand {
  /*background-color:#fef1e3;*/
background-color:#f9a441;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:5px;
  width:200px;
  float:left;
  text-align:center;
  margin-bottom:30px;
}

.link-hausheliand a {
  color:#fff !important;
}

.link-facebook {
  /*background-color:#fef1e3;*/
  background-color:#3B5998;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left:10px;
  padding:5px;
  width:150px;
  text-align:center;
  margin-bottom:30px;
  float:left;
}

.link-facebook:hover {
  background-color:#3B5998;
}

.link-facebook a {
  color:#fff !important;
}

/*
.nav-left {
  float:left !important;
}*/




.toolbar-nav .searchbox {
  margin-top:5px;
}

.toolbar-nav .searchbox input {
  width:138px;
  background-size: 18px;
  font-size:1em;
  padding:4px;
}

.searchbox-header input[type=submit] {
font-family:"kreon";
background-color:transparent;
border:0px;
color:#6b6b6b;
width:55px;
font-weight:normal;
text-transform:uppercase;
cursor:pointer;
text-align:left;
margin-left:-3px;
}

.toolbar-nav .nav-left, .toolbar-nav .searchbox {
  float:none;
}


/* @group sebastian */
ul.menu {
    list-style-type: none;
    margin:   0 auto;
    height: 46px;
    width: 990px;
  padding: 0;
    background: #fff;
    font-size: 1.09em;
    font-family: "kreon";
}
ul.menu ul {
  list-style: none; 
}
ul.menu a {
    display: block;
    padding: 13px 16px 0px 16px;
    font-weight:normal;
    color: #000;
    height: 33px;
}

ul.menu ul a {
    padding: 0 10px;
}

ul.menu li {
    padding:0;
    margin:0;
    background-image: none;
    float:left;
}

ul.menu ul {
    margin-left:0;
    padding: 0 0 5px 0;
    position: absolute;
    background-color: #26383d;
    border:1px solid #fff9e4;
    display:none;
    min-width:180px;
}


/* ie-hack fuer die breite */
*html ul.menu ul {
    width:180px;
}

/* dies sind die klassenstile fuer das untermenue wenn sich die maus */
/* ueber der liste  befindet (.hover siehe javascript oben) */
ul.menu ul.hover, ul.menu li.hover ul, ul.menu li:hover ul  {
    display:block;
}

ul.menu ul li {
    float:none;
    background-color: transparent;
}

/* @end */

