
/*
##########################################################
main navigation
##########################################################
*/

.geruest-nav {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  height: 46px;
  width: 100%;

}

#nav-main {
  width:990px;
	background-color:#fff;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
	
	/*
	margin: -6px auto 0 auto;
	border-collapse:collapse;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	margin-top:-6px;
  padding-bottom:0px;*/
}

#nav-main > div {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
}

#nav-main > div.noflex {
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  box-flex: 0;
}

.nav-main-abschluss {
	background-color:#f9a441;
	height:3px;
	width:990px;
	margin:auto;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	position: relative;
	z-index: 10;
  /*display: none;*/
}

/*
ul.nav-main li {
display:table-cell;
margin-bottom:0px;
padding-bottom:0px;
}

ul.nav-main li ul li {
display:inherit;
text-align:left;

}*/

#nav-main div a:link, #nav-main div a:visited {
  /*outline: 1px solid blue;*/
  color:#000;
  margin: 0;
  padding: 0;
  font-family:"kreon";
  padding: 14px 0 11px;
  display: inline-block;
  font-size:1.1em;
  
  
	width: 100%;
	/*
	display:block;
	text-decoration:none;
	margin-top:-3px;
	font-size:1.1em;
	height:37px;
	padding:0px;
	padding-top:14px;
padding-bottom:0px;
margin-bottom:-2px;
margin-left:0px;
margin-right:0px;
width:auto;
text-align:center;
	*/
}

#nav-main div a.active:link, #nav-main div a.active:visited, #nav-main div a.current:link, #nav-main div a.current:visited, #nav-main div a:hover {


	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nav-main-trenner {
	text-align:center;
	padding:0px;
	margin:0px;
	float:left;*/
}

.subnav {
	padding-top:0px;
	position:absolute;
	z-index:500;
	opacity:0.95;
	width:100%;
	top: 41px;
	left:0px;
	margin-top:0px;
	display:none;
	padding-right:0px;
	background-color:#f9a441;
	
	}
	
.subnav-container {
	text-align:right;
	padding:0px;
	padding:20px;
	padding-left:0px;
	padding-right:0px;
	}
	
.subnav-container a:link, .subnav-container a:visited{
	margin-right:30px;
	color:#fff;
	padding:0px;
	margin:0px;
	float:none;
	margin:0px;
	height:auto;
	display:block;
	width:auto;
	text-align:left;
}

.subnav-container a:hover {
	color:#ffde00 !important;
}
	



/*
##########################################################
second level navigation (in-content, moves with scrolling
##########################################################
*/


.second-level-nav-container {
	width:240px;
	float:right;
	margin-top:55px;
	}





.fixed {
	margin-top:0px;
	position:fixed;
	
	}

.second-level-nav a{
	display:block;
	text-align:right;
	border-bottom: 1px solid #fef1e3;
	padding-bottom:4px;
	padding-top:4px;
}

.second-level-nav a.active{
	color:#000;
}

/*
##########################################################
toolbar-nav (upper left corner in the header
##########################################################
*/

.toolbar-nav {
	float:left;
	font-family:"kreon";
	font-size:0.7em;
	color:#afafaf;
	margin-left:14px;
}

.toolbar-nav a:link, .toolbar-nav a:visited{
	color:#afafaf;
	text-transform: uppercase;
}

.toolbar-nav a:hover{
	color:#333333;
}

.link-hausheliand {
	background-color:#fef1e3;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	float:left;
	padding:5px;
	width:200px;
	text-align:center;
	margin-bottom:30px;
}

.link-facebook {
  float:left;
}

.nav-left:before, .link-facebook:before,
.nav-left:after, .link-facebook:after {
    content: " ";
    display: table;
}

.nav-left:after, .link-facebook:after  {
    clear: both;
}

.nav-left {
  clear:both !important;
}


.toolbar-nav .searchbox {
	margin-top:5px;
}

.toolbar-nav .searchbox input {
	width:118px;
	background-size: 18px;
	font-size:1em;
	padding:4px;
}


/* @group sebastian */
ul.menu {
    list-style-type: none;
    margin:  0 auto;
    height: 46px;
    width: 990px;
	padding: 0;
    background: #fff;
    font-size: 1.09em;
    font-family: "kreon";
}
ul.menu ul {
	list-style: none;	
}
ul.menu a {
    display: block;
    padding: 13px 16px 0px 16px;
    font-weight:normal;
    color: #000;
    height: 33px;
}

ul.menu ul a {
    padding: 0 10px;
}

ul.menu li {
    padding:0;
    margin:0;
    background-image: none;
    float:left;
}

ul.menu ul {
    margin-left:0;
    padding: 0 0 5px 0;
    position: absolute;
    background-color: #26383d;
    border:1px solid #fff9e4;
    display:none;
    min-width:180px;
}


/* ie-hack fÃÂÃÂ£ÃÂÃÂ¼r die breite */
*html ul.menu ul {
    width:180px;
}

/* dies sind die klassenstile fÃÂÃÂ£ÃÂÃÂ¼r das untermenÃÂÃÂ£ÃÂÃÂ¼ wenn sich die maus */
/* ÃÂÃÂ£ÃÂÃÂ¼ber der liste  befindet (.hover siehe javascript oben) */
ul.menu ul.hover, ul.menu li.hover ul, ul.menu li:hover ul  {
    display:block;
}

ul.menu ul li {
    float:none;
    background-color: transparent;
}

/* @end */

