/* ############### Styling Suche ################# */
 

.tx-indexedsearch {
	font-size:15px;

} 

.tx-indexedsearch fieldset {
	border:0px;
	width:100%;
	padding:0px;
	margin-bottom:40px;
} 

.tx-indexedsearch-res {
	padding-top:20px;
	padding-bottom:20px;
	border-bottom: 1px solid #f9a441;
}

.tx-indexedsearch-res:last-child {
	border-bottom: 0px;
}

.tx-indexedsearch-res:first-child {
	padding-top:0px;
}

.tx-indexedsearch-percent {
	background-color:#d40050;
	color:#fff;
	font-size:14px;
	float:right;
}


.tx-indexedsearch-redMarkup {
	color:#000 !important;
font-weight:normal !important;
background-color:#fef1e3;
padding:2px;

}

.tx-indexedsearch-searchbox {

margin-top:30px;

}

.tx-indexedsearch-searchbox input[type=submit]{

-webkit-border-bottom-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-topright: 5px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;

margin-left:-8px;

}

.searchbox-tmpl-css input {
	width:350px !important;
	margin:0px;
}

.searchbox-tmpl-css input[type=submit] {
	width:auto !important;
	color:#fff;
}

.tx-indexedsearch-browsebox {
display:none;
}

.tx-indexedsearch-title {
font-weight:bold;
}

