@charset "UTF-8";


/*
##########################################################
Startseite
##########################################################
*/

body {

background-image: none;

}

.slideshow-startseite-container {
  width:100%;
  position:absolute;
  margin-top:-49px;
  overflow:hidden;

}

.slideshow-startseite {
  position:relative;
  overflow:hidden;
  left:50%;
  width:2000px;
  margin-left:-1000px;
  border-bottom:3px solid #008b50;
}

.slideshow-startseite .nivo-caption {
  position:absolute;
  z-index:100;
  width:990px;
  left:50%;
  margin-left:-495px;
  background-color:transparent;
  text-align:right;
}

.slideshow-startseite  .nivo-caption p {
  display:inline !important;
  background-color:#000;
  padding:8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

.slideshow-startseite-spacer {
  height:523px;
}

.first-page-content{
  margin-left: 50px;   
}

.geruest-startseite {
  background-color:transparent;
  background-image:url(../images/bg-geruest-startseite.png);
  background-repeat:no-repeat;
  background-position:center 25px;
  }
  
.geruest-startseite h1{
  width:auto;
  /* background-color: #EFFBF2; */
  font-size:1.8em;
  display:inline;
  padding:4px;
  float:none;
  margin-bottom:112px;
  margin-left:-3px;
  }

/* ####### Latest News ####### */
.news .footer{
    margin-top: 0px;
    padding-top: 0px;
}

.news .bodytext{
    margin: 8px 0px;
}

.news .header h3{
    margin-top: 10px;   
}


.nav-main a.active:link, .nav-main a.active:hover, .nav-main a.active:visited {
height:36px ;
padding-bottom:0px;
}

.nav-main .subnav a, .nav-main .subnav a:hover, .nav-main .subnav a.active {
padding-bottom:0px;
height:auto;
}

.bigbuttons-container {
	margin-bottom:20px;
	margin-top:-30px;
}