@charset "UTF-8";


/*
##########################################################
CSS-Styles Version 1.0 fÃ¼r EJW.de
##########################################################
*/


@import url('typography.css');
@import url('breadcrumb.css');
@import url('footer.css');
@import url('freizeiten.css');
@import url('gruppen.css');
@import url('nivo-slider.css');
@import url('navigation.css');
@import url('forms.css');
@import url('contentelements.css');
@import url('hauptamtliche.css');
@import url('calendar.css');
@import url('tt_news.css');
@import url('chosen.css');
@import url('search.css');
@import url('fortbildungen.css');

/*
##########################################################
Gerenal Styles
##########################################################
*/

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-top:2px solid #008b50;
}


.geruest-header, .geruest-content, .geruest-footer, .geruest-startseite {
  width:940px;
  margin:auto;
  padding-left:25px;
  padding-right:25px;
  }

.geruest-header {
  width: 990px;
  padding:0px;
}

.geruest-nav {
/*  width:100%;
  margin:auto;
  z-index:1000;
  position:relative;
  padding:0px;
  */
}

.geruest-content {
  background-color: #fff;
  margin-top:25px;
  padding-bottom:60px;
}
  
.geruest-startseite {
  padding: 30px 0px;
}

body > .header {
  height:100px;
  background-color:#fff;
}

.logo {
  float:right;
  margin-top:10px;
  background-image: url(../Img/logo.png);
  width: 280px;
  height: 90px
}
  

.column-full { width:940px; }
.column-620 { width: 620px;}
.column-610 {width:610px;}
.column-590 {width:590px;}
.column-540 {width:540px;}
.column-460 {width:460px;}
.column-300 { width: 300px;}
.column-310 { width: 310px;}
.column-280 { width: 280px;}
.column-220 { width: 220px;}
.float-left { float:left;}
.float-right { float:right;}

.three-columns .column-280 {
  margin-left:50px;
}

.three-columns  {
}

.column-280:first-child {
margin-left:0px !important;

}

#mainpage-content {
  margin-top:10px;
}

#mainpage-content p {
  /* background-color: #EFFBF2; */
}

#mainpage-content h3 {
 /* background-color: #EFFBF2; */
}

.column-610 {
  margin-left:50px;
}


.twothird-column {
  width:620px;
  }
  
.onethird-column {
  width:300px;
  }
  
.half-column {
  width:48%;
}

.full-column {
  width:100%;
}

.fce {
  margin-top:0px;
  float:left;
}


.content {
  padding-bottom:50px;
}


.hidden {
  display:none;
}
.clearAll {
  clear: both;
  float: none;
}






