@charset "utf-8";


/*
##########################################################
tt_news
##########################################################
*/

.news-list-container {
margin-top:35px;
}

.news-list-item {
padding-bottom:30px;
}

.news-list-date, .news-latest-date, .news-list-weiterlesen a:link, .news-list-weiterlesen a:visited, .news-latest-weiterlesen a:link, .news-latest-weiterlesen a:visited {
text-transform:uppercase;
font-weight:700;
font-size:12px;
margin-bottom:13px;
display:block;

display:inline-block;
background-color:#c0d8c4;
padding:4px;
padding-left:8px;
padding-right:8px;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
float:left;
margin-right:20px;

}

.news .news-list-date{
    color: white;   
}

.news-list-category, .news-latest-category  {
font-size:13px;
padding-left:110px;
color:#b3b3b3;
margin-top:30px;
margin-bottom:10px;
}

.news-list-image {
float:right;
margin-top:20px;
margin-left:25px;
}

.news-list-image img, .news-single-img img {
border-bottom:2px solid #f9a441; 
}

.news-single-imgcaption {

font-size:12px;
	text-transform:uppercase;
	text-align:right;
	font-weight:bold;
	padding:5px;
	padding-right:0px;
padding-left:0px;
margin-top:-5px;
}

h2.news-list-headline {
margin-top:-3px;
}


.news-list-leftcolumn {

float:left;
width:100px;

}

.news-list-rightcolumn {
width:510px;
float:right;

}




.news-latest-date, .news-single-date {
float:none;
margin-bottom:0px;
color:#fff;
color:#6c6c6c;
width:100%;
padding:0px;
}

.news-latest-container {

margin-top:20px;
border:0px solid #ff0000;
}

.news-latest-item  {
width:280px;
margin-bottom:25px;
}

.news-latest-item h3 {
margin-top:5px;
}

.news-latest-category {
margin:0px;
padding:0px;
margin-top:20px;
}

.news-latest-image img {
float:none;
margin-top:20px;
border-bottom:2px solid #f9a441;


}

.news-latest-weiterlesen  {

}

.news-latest-weiterlesen a:link, .news-latest-weiterlesen a:visited, .news-list-weiterlesen a:link, .news-list-weiterlesen a:visited  {
background-color:#f9a441;
margin-bottom:0px;
color:#fff;
text-transform:none;
}

.news-latest-weiterlesen a:hover, .news-list-weiterlesen a:hover  {
color:#ffde00;
}

.news-latest-gotoarchive {
margin-top:30px;
margin-bottom:50px;
}


.news-single-date-category {
font-size:12px;
color:#b1b1b1;
margin-top:0px;
margin-bottom:20px;
}

.news-single-headline {

}

.news-single-additional-info {

margin-top:30px;
margin-bottom:30px;
background-color:#fef1e3;
padding:8px;
padding-left:0px;

}

.news-single-additional-info dt {
display:none;
}

.news-single-additional-info a {
margin-right:10px;
margin-left:5px;
}

.browseLinksWrap a:link, .browseLinksWrap a:visited, .browseLinksWrap p {
padding:4px;
background-color:#f9a441;
display:inline-block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:20px;
text-align:center;
color:#fff;
margin-right:3px;
border:1px solid #f9a441;
}

.browseLinksWrap span:first-child {
margin-left:20px;
}

.browseLinksWrap span b {
background-color:#fbd8b3;
color:#333333;
margin-right:3px;
border:1px solid #f9a441;

}

.browseLinksWrap a:hover {
color:#ffde00;
}


