@charset "UTF-8";


/*
##########################################################
Typography
##########################################################
*/


body {
	font-family:"Droid Sans";
	color: #443f3a;
	font-weight:normal;
	/*Fix for better Anti-aliasing of the Fonts in Windows*/
	text-shadow: 0px 0px 1px rgba(128,128,128,0.01);
}


/*
########### Links and in-content-navigation ##############
*/

a:link, a:visited {
	text-decoration:none;
	color:#168B3D;
}

a:hover {
	color:#000;
	}
	
a img {

border:0px;

}

/*
########### Dropdown-Button ##############
*/

.dropdown-button {
	background-image:url(../images/dropdown-arrow.png);
	background-position:right center;
	background-repeat:no-repeat;
}

.dropdown-reveal {
	display:none;
	position:absolute;
	z-index:100;
	width:280px;
	height:300px;
	background-color:#fde6c9;
	padding-bottom:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid #fcd3ac;
	opacity:0.98;
	overflow:scroll;
	}
.dropdown-reveal a:link {
	display:block;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
}

.dropdown-headline {
	background-color:#008b50;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
	font-weight:700;
}


.dropdown-button a:link, .dropdown-button a:visited {
	color:#fff !important;
	font-weight:700;
	display:block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color:#008b50;
	padding:10px;
}

.dropdown-content li {
	background-color:#ff0000;
}

/*
########### Button with top rounded corners ##############
*/

.button-top-round {
	background-color:#fef1e3;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	padding:10px;
	padding-bottom:8px;
	margin-bottom:10px;
	margin-right:2px;
	font-weight:700;
	color:#f9a441 !important;
}

.button-top-round.active{
	background-color:#008b50;
	color:#fff !important;
}

/*
########### Big buttons ##############
*/

.button-big {
	display:block;
	background-color:#008b50;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	
	padding:20px;
	height:70px;
	margin-bottom:5px;
	color:#fff !important;
	font-family:"Kreon";
	font-size:1.5em;
	line-height:1.1em;
	font-weight:700;
}

.button-big:hover {
	color:#b1f8ad !important;
}

.button-big-text {
	float:right;
	display:block;
	width:60%;
	margin-left:20px;
	margin-top:13px;
}

.button-big img {
	float:left;
}

/*
########### Filter Navigation ##############
*/

.options {
  padding-bottom: 5px;
  float:left;
  margin-top:20px;
}

.options h3 {
  margin-bottom: 0.2em;
  font-size: 10px;
}

.options h4 { 
  font-weight: 700;
}

.options ul {
  margin: 0px;
  list-style: none;
  padding:0px;
}

.options ul ul {
  margin-left: 0em;
  padding-left:0px;
  color:#fff;
}

.options li {
  float: left;
  color:#fff;
}

#filters li,#sort-by li {
  margin:0 0 0.2em 0;  
  padding:0;
  text-indent:0;
}

.options #filters li:before, .options #sort-by li:before {
content: "";
margin:0px;
font-size:0px;
}
.options li a:link, .options li a:visited {
  display: block;
  padding: 0.6em 0.7em;
  background-color: #f9a441;
  color: #fff !important;
  font-weight: 700;
  font-size:0.95em;
  border-left:  1px solid #fbd8b3;
  border-right: 1px solid #e98a1b;
}



.options li a:active, .options li a:active:visited {
  background-color: #e98a1b;
    -webkit-box-shadow: inset 0px 2px 3px hsla( 0, 0%, 0%, 0.3 );
     -moz-box-shadow: inset 0px 2px 3px hsla( 0, 0%, 0%, 0.3 );
       -o-box-shadow: inset 0px 2px 3px hsla( 0, 0%, 0%, 0.3 );
          box-shadow: inset 0px 2px 3px hsla( 0, 0%, 0%, 0.3 );
	color:#fff;
}


.options li a:hover {
  background-color: #e98a1b;
  color: #fff !important;
}

.options li:first-child a {
  border-radius: 5px 0 0 5px;
  border-left: none;
  
}

.options li:last-child a {
  border-radius: 0 5px 5px 0;
  
}

a.selected,  a.selected:hover {
  background-color: #e98a1b !important;
  color:#fff !important;
    -webkit-box-shadow: inset 0px 2px 5px hsla( 0, 0%, 0%, 0.3 );
     -moz-box-shadow: inset 0px 2px 5px hsla( 0, 0%, 0%, 0.3 );
       -o-box-shadow: inset 0px 2px 5px hsla( 0, 0%, 0%, 0.3 );
          box-shadow: inset 0px 2px 5px hsla( 0, 0%, 0%, 0.3 );
}

/* Combination filter options*/

.options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

.options .option-combo h2,
.options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.option-set li {
}

#sort-by {
float: right !important;
padding: 0px;
margin: 0px;
}

#filters {
margin: 0px;
}


/*
##########################################################
Content-Typographie
##########################################################
*/

.content {
	color:#443f3a;
	font-size:15px;
	line-height:22px;
	font-weight:400 !important;
}

.content h1, .content h2 {
	font-family:"Kreon";
}

.content h3, .content h4 {
	margin-bottom:-10px;
}

.content h1 {
	font-size:2.4em;
	font-weight: 400;
	color:#381c1c;
	margin-top:40px;
	margin-bottom:5px;
	line-height:1em;
}



.csc-default:first-child h1 {
	margin-top:-10px;
}

.content h2 {
	font-size:1.8em;
	font-weight: 400;
	color:#000000;
	margin-bottom:0px;
	line-height:1.2em !important;
}

.content h3 {
	font-size:1em;
	font-weight: 700;
	color:#000000;
	margin-bottom:-5px;
	line-height:1.4em;
	margin-top:30px;
}

.bold {
	font-weight:700;
	margin-bottom:10px;
	display:block;
	}
	
.content ul, .content ol {
	margin-top:20px;
	margin-bottom:30px;
}

.content table {
	margin-top:10px;
	border-collapse: collapse;
	width:100%;
	margin-bottom:30px;
}

.content table td {
	padding:10px;
}

.content table tr {
	border-bottom:1px solid #fbd8b3;
}

.content ul {
    list-style: none;
    padding:0;    
}

.content li {
	margin-bottom:9px;
	padding-left: 35px; 
    text-indent: -22px;
}

.content ol li {
    text-indent: 0px;
    padding-left:10px;
}

.content ul li:before {
    content: "»  ";
    color: #f9a441;
    margin-right:10px;
}

.content ul li ul {
margin-top:10px;
margin-bottom:13px;
}


/*
##########################################################
Special Elements
##########################################################
*/
	
.i {
height:40px;
width:60px;
font-family:"Kreon";
display:block;
text-align:center;
background-color:#fef2e4;
font-size:3em;
padding-top:20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

border: 1px solid #fcd3ac;
margin-top:0px;

}

.i-text {
width:80%;
margin-top:0px;
}

a.zurueck:link, a.zurueck:visited {
background-color:#f9a441;
margin-bottom:0px;
color:#fff;
text-transform:none;
padding: 14px;
padding-right:20px;
margin-left:-27px;
margin-top:40px;
border-left:3px solid #e98a1b;
font-weight:700;
display:inline-block;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-topright: 5px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;

-webkit-box-shadow: 8px 0px 15px rgba(50, 50, 50, 0.16);
-moz-box-shadow:    8px 0px 15px rgba(50, 50, 50, 0.16);
box-shadow:         8px 0px 15px rgba(50, 50, 50, 0.16);

}

a.zurueck:hover {

color:#ffde00;

}
