/*
* MISC
*/

h1 {
	text-align: left;
}

a { 
	color: #555;
	font-weight: bold; 
	text-decoration: none; 
	line-height: 1.5em; 
}

a:hover {text-decoration: none }

.ui-accordion .ui-accordion-header {
	padding-left: 25px;
}

/*
* Backend List
*/

.yag-list dt {
	float:left;
	width:100px;
}

td.yag-col-thumb, td.yag-col-title  {
	width: 150px;
}

.yag-description {
	margin: 20px 10px 0 0;	
}

/*
* Breadcrumbs
*/
.tx-yag-breadcrumbcomtainer {
	border:0;
	margin:0;
}

/*
* Backend forms
*/

.yag-form {
    line-height: 1.7em;
    padding: 1em 1em 1em 1em;
    color: #606060;
    border: 1px #dcdcdc solid;
    background-color: #f2f2f2;
}

.yag-fakeButton {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top, #F6F6F6 10%, #D5D5D5 90%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #d5d5d5));
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px 1px 1px 1px;
    color: #434343;
    cursor: pointer;
    font-weight: normal;
    padding: 3px;
    font-size: 11px;
    text-decoration: none !important;    min-width: 70px;
    display: inline-block;
    text-align: center;

}

.yag-fakeButton:hover {
	background-color: #C8C8C8;
	background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #BDBCBC 90%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #BDBCBC));
}

.yag-buttonLine {
	margin-top:10px;
    text-align: right;
}

.yag-buttonLine input {
    min-width: 100px;
}

.yag-button {
	margin-right: 10px;
}

.type-checkbox label {
    vertical-align: top;
}

.outer-field-wrapper {
    padding: 3px 0 4px 0;
}

.pt-extbase-groupselector {
    border: 1px solid #7C7C7C;
    padding:5px;
}



.yag-box-lightgray {
    margin-top: 5px; border: 1px solid #aaa;  
    padding: 10px;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    color: #333333;
}

.yag-box-white {
    margin-top: 5px;
    border: 1px solid #aaa;
    background: none repeat scroll 0 0 white;
    padding: 10px;
    color: #333333;
}

.yag-editfields input, .yag-editfields .tx-yag-image-admin-edit-properties, .yag-editfields textarea {
    max-width: 330px;
    width: 100%;
    padding: 3px;
    border: 1px solid #AAAAAA;
}

.yag-itemedit-properties {
    border: 1px solid #AAAAAA;
    margin: 0 5px;
    padding: 5px;
}

.yag-itemedit-commands, .yag-albumedit-commands {
	margin: 5px 5px;
}

.yag-itemedit-thumb {
    padding-bottom: 10px;
}

.yag-batch-editfields label {
    padding: 0 5px 0 2px;
}

.yag-editfields label {
    width: 110px;
}

.yag-itemedit-table {
    width: 100%;
}

/*
* extList
*/

/* Pager */
.tx-ptextlist-pager-wrapper {
    border-top: 1px solid #909090;
    margin-top: 20px;
    padding: 5px;
    overflow: hidden;
}

.tx-ptextlist-pager {
    margin-left: 0;
    text-align: center;
}

.tx-ptextlist-pager li {
    display: inline;
}

.tx-ptextlist-pager li.number a, .tx-ptextlist-pager li a span, .tx-ptextlist-pager li.number .cur, .tx-ptextlist-pager li.number .fill{
    background: url("../Images/b-pager.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    color: #000000;
    display: inline-block;
    font-size: 11px;
    height: 23px;
    width: 24px;
    line-height: 23px;
    margin-right: 6px;
    padding: 0;
    text-align: center;
}

.tx-ptextlist-pager li.number a:hover, .tx-ptextlist-pager li a:hover span, .tx-ptextlist-pager li a:hover {
    color: #FF8700;
    text-decoration: none;
}

.tx-ptextlist-pager li.number .fill {
    color: #BFBFBF;
}

.tx-ptextlist-pager li.number .cur {
    border: 1px solid #393939;
}

.tx-ptextlist-pager li a {
    text-decoration: none;
}


.tx-ptextlist-pager-item-display {
    color: #393939;
    padding-top:10px;
}

.tx-ptextlist-pager-item-display .first, .tx-ptextlist-pager-item-display .last, .tx-ptextlist-pager-item-display .count {
    color: #707070;
}




/*
* Flexform item selctors
*/
#imageGallerySelector .ui-selecting, #imageAlbumSelector .ui-selecting, #imageImageSelector .ui-selecting,
#albumGallerySelector .ui-selecting, #albumAlbumSelector .ui-selecting,
#galleryGallerySelector .ui-selecting { 
	background: #FECA40; 
}

#imageGallerySelector .ui-selected, #imageAlbumSelector .ui-selected, #imageImageSelector .ui-selected,
#albumGallerySelector .ui-selected, #albumAlbumSelector .ui-selected,
#pageSelectorBox .ui-selected,
#galleryGallerySelector .ui-selected  { 
	background: #F39814; color: white; 
}

#imageGallerySelector, #imageAlbumSelector, #imageImageSelector,
#albumGallerySelector, #albumAlbumSelector,
#galleryGallerySelector { 
	list-style-type: none; margin: 0; padding: 0; 
}

.inactiveSelectorBox {
	width:250px;
	height:300px; 
	border:1px solid gray; 
	background: #C0C0C0; 
	float:left; 
	padding:3px;
	color: gray;
}

.itemSelectorBox {
	width:250px;
	height:300px; 
	border:1px solid gray; 
	background: white;
	float:left;
	overflow:auto;
}

.itemSelectorBox ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.pageSelectorBox {
	width:100px;
	height:300px;
	border:1px solid gray;
	background: white;
	padding:3px;
	float:left;
	overflow:auto;
}

.selectorBoxSeparator {
	width:20px; 
	float:left; 
	padding:142px 3px 0 3px;
}

.selectorBoxBusy{
	background:  #d5d5d5 url('../../../../../../typo3/sysext/t3skin/images/spinner/d5d5d5.gif') no-repeat;
	background-position: center;
}

/**
* Gallery Maintenance
*/
#yagRfcBuilder {
	margin-top: 20px;
	border: 1px solid #dadada;
	background-color: #ebebeb;
	display: none;
}

#yagRfcProgressbar, #yagRfcCancel {
	margin: 5px;
}
	
#yagRfcStatus {
	margin: 3px;
}

#yagRfcImageLine {
	height: 49px;
	border: 1px solid #dadada;
	overflow: hidden;
	margin:5px;
	background-color: #f8f8f8;
	padding:1px;
}

#yagRfcImageLine img {
	padding-right:2px;
}

#yagRfcInfo {
	margin-top: 20px;
}


.tx-yag-transparency-half {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


.tx-yag-image-admin-edit-properties {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    padding:  5px;
    color: #333;
    font-size: 80%;
}

table.typo3-dblist tr.tx-yag-album-index-album td{
    background-color: #FFFFDD !important;
}

.tx-yag-image-admin-sortingbox {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    padding:  5px;
    color: #333;
    margin: 0 0 7px 0;
}



/**
*
* Drag n' Drop Upload
*
*/


/*-------------------------
	Dropbox Element
--------------------------*/



#yag-dropbox{
    background:url('../Images/DragNDrop/background_tile_3.jpg');

    border-radius:3px;
    position: relative;
    min-height: 290px;
    overflow: hidden;
    padding-bottom: 40px;

    box-shadow:0 0 2px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#yag-dropbox .yag-dropbox-message{
    font-size: 1.4em;
    text-align: center;
    padding-top:160px;
    display: block;
    color: white;
}

#yag-dropbox .yag-dropbox-message i{
    color:#ccc;
    font-size:10px;
}

#yag-dropbox:before{
    border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#yag-dropbox .preview{
    width:245px;
    height: 215px;
    float:left;
    margin: 55px 0 0 60px;
    position: relative;
    text-align: center;
}

#yag-dropbox .preview img{
    max-width: 240px;
    max-height:180px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#yag-dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#yag-dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('../Images/DragNDrop/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#yag-dropbox .preview.done .uploaded{
    display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#yag-dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;

    box-shadow:0 0 2px #000;
}

#yag-dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#yag-dropbox .preview.done .progress{
    width:100% !important;
}

/*-------------------------
	Backend Edit Popup-Box
--------------------------*/

.white-popup {
    position: relative;
    background: #F1F1F1;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}


.yag-itemedit-leftcontainer {
    width: 50%;
    float: left;
}
.yag-itemedit-rightcontainer {
    width: 50%;
    float: left;
}

.yag-itemedit-innercontainer {
    padding-left: 20px;
}

.yag-itemedit-form-inner:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------
	Item Admin Thumb
--------------------------*/

/* Transparenzen */
.transparent-70 { filter: alpha(opacity=70); zoom: 1; opacity: 0.7 }
.transparent-50 { filter: alpha(opacity=50); zoom: 1; opacity: 0.5 }

/* Nachrichten */
.message {  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px; background: 10px 15px no-repeat #e6eff8; border:1px solid #155baf; margin:5px 0 5px 0; padding:10px 10px 10px 40px;  }
.message_info {  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px; background: 10px 15px no-repeat #e6eff8; border:1px solid #155baf; margin:5px 0 5px 0; padding:10px 10px 10px 40px;  }
.message_error { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px; background: 10px 50% no-repeat #FFDDDD; border:1px solid #DDAAAA; margin:5px 0 5px 0; padding:10px 10px 10px 40px;  }
.message_ok { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px; background: 10px 50% no-repeat #cdfaa3; border:1px solid #7BAD51;  margin:5px 0 25px 0; padding:10px 10px 10px 40px; }


/* Fotoübersicht */
#change-topic-text { cursor: pointer; float: left; padding: 8px 80px 5px 0; font-size: 1.9em; font-weight: bold; background:url("/img/pencil_edit.png") no-repeat right 50%;  }
#change-topic-text:hover { background-color: #1D1D1D; color: #FFF;}
#change-topic-input { display:none; height: 38px; }
#change-topic-input .input input { float: left; width: 300px; height: 15px; padding: 8px; font-size: 1.3em; margin-bottom: 10px; border: 1px solid #ccc; }

div.bigbutton-upload { width: 230px; float: left; border-right: 1px solid #ccc; margin-right: 15px;}
.uploadsize { float: left; width: 650px;}
.uploadsize-text { float: left; font-size: 1.2em; margin:1px 0 3px;}

.photo-detail { position: relative; font-size: 11px; width: 120px; height: 140px; padding: 4px; float:left; background: repeat-x scroll center bottom #FFFFFF; border: 1px solid #ccc; margin: 0 3px 7px 0px; }
.photo-detail-index-photo { background: #333; color: #FFF }
.photo-detail-text { height: 20px; text-align: left; margin-bottom: 5px; overflow:hidden;}
.photo-detail-text-bg { background-color: #38aae0; color: #FFF; }

.photo-detail-name { z-index: 5; position: absolute; top: 0; left: 0; display:none; width: 150px; height: 100px; padding: 5px;}
.photo-detail-name-background {background: #000; position: absolute; top: 0; left: 0; width: 165px; height: 110px;}
.photo-detail-name textarea { position: absolute; top: 5px; left: 5px; width: 148px; height: 70px;}
a.photo-detail-name-cancel { cursor: pointer; position: absolute; bottom: 5px; left: 5px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
a.photo-detail-name-submit { cursor: pointer; position: absolute; bottom: 5px; left: 100px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}

.photo-detail-name .submit input { position: absolute; bottom: 8px; right: 5px; }

.photo-detail-description { z-index: 6; position: absolute; bottom: -26px; left: -40px; display:none; width: 240px; height: 150px; padding: 5px;}
.photo-detail-description-background {background: #000; position: absolute; top: 0; left: 0; width: 252px; height: 160px;}
.photo-detail-description span {color: #FFF; position: absolute; font-weight: bold; }
.photo-detail-description textarea { position: absolute; top: 30px; left: 5px; width: 238px; height: 90px;}
a.photo-detail-description-cancel { cursor: pointer; position: absolute; bottom: 5px; left: 5px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
a.photo-detail-description-submit { cursor: pointer; position: absolute; bottom: 5px; left: 100px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}

.photo-detail-description .submit input { position: absolute; bottom: 8px; right: 5px; }



.photo-detail-linkbar { height: 26px; width: 124px; position: absolute; left:0; bottom: 0; display: none;}
.photo-detail-photo:hover .photo-detail-linkbar { display: block; }
.photo-detail-linkbar-background { height: 26px; width: 124px; position: absolute; bottom: 0; background: #000;}
.photo-detail-linkbar-button { cursor: pointer; position: absolute; height: 16px; width: 16px; padding: 2px; }
.photo-detail-linkbar-button:hover { background-color: #FFF;text-decoration:none;  }
.photo-detail-linkbar-delete { left: 0; top: 0; }
.photo-detail-linkbar-key { left: 33px; top: 0;  }
.photo-detail-linkbar-editmetadata { cursor: pointer; left: 63px; top: 0;  }
.photo-detail-linkbar-show { left: 93px; top: 0;  }
#index-photo-icon {position: absolute; top: 0; left: 0; }
.photo-detail-size {height: 20px; width: 110px; padding-right: 10px; position: absolute; left:0; top: 0; display: none; color: #FFF; text-align: right;}
.photo-detail-photo:hover .photo-detail-size { display: block; }

.photo-detail-photo { text-align: center; cursor:move; position: relative; }

/* Album Übersicht */
.tx-yag-album-detail-title { z-index: 6; position: absolute; bottom: -26px; left: -40px; display:none; width: 240px; height: 150px; padding: 5px;}
.tx-yag-album-detail-title-cancel { cursor: pointer; position: absolute; bottom: 5px; left: 5px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
.tx-yag-album-detail-title-submit { cursor: pointer; position: absolute; bottom: 5px; left: 100px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
.tx-yag-album-detail-title textarea { position: absolute; top: 30px; left: 5px; width: 238px; height: 90px;}
.tx-yag-album-detail-title span {color: #FFF; position: absolute; font-weight: bold;}
.tx-yag-album-detail-title-background {background: #000; position: absolute; top: 0; left: 0; width: 250px; height: 160px;}

.tx-yag-album-detail-description { z-index: 6; position: absolute; bottom: -26px; left: -40px; display:none; width: 240px; height: 150px; padding: 5px;}
.tx-yag-album-detail-description-cancel { cursor: pointer; position: absolute; bottom: 5px; left: 5px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
.tx-yag-album-detail-description-submit { cursor: pointer; position: absolute; bottom: 5px; left: 100px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
.tx-yag-album-detail-description textarea { position: absolute; top: 30px; left: 5px; width: 238px; height: 90px;}
.tx-yag-album-detail-description span {color: #FFF; position: absolute; font-weight: bold;}
.tx-yag-album-detail-description-background {background: #000; position: absolute; top: 0; left: 0; width: 250px; height: 160px;}

.tx-yag-gallery-albumcaption { cursor: pointer }
.tx-yag-gallery-albumdescription {cursor: pointer }

/* Ajax editing */
.tx-yag-ajax-edit-form { z-index: 6; position: absolute; bottom: -26px; left: -40px; display:none; width: 240px; height: 150px; padding: 5px;}
.tx-yag-ajax-edit-form-cancel { cursor: pointer; position: absolute; bottom: 5px; left: 5px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
.tx-yag-ajax-edit-form-submit { cursor: pointer; position: absolute; bottom: 5px; left: 100px; height: 16px; width: 70px; display: block;color: #FFF; padding: 5px 10px 5px 0;}
.tx-yag-ajax-edit-form textarea { position: absolute; top: 30px; left: 5px; width: 238px; height: 90px;}
.tx-yag-ajax-edit-form span {color: #FFF; position: absolute; font-weight: bold;}
.tx-yag-ajax-edit-form {background: #000; position: absolute; top: 0; left: 0; width: 250px; height: 160px;}


