﻿{namespace tx = Tx_Ejwintern_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="clearfix"></div>

	<div class="karte-zentrieren-container"><span class="bold">Karte zentrieren:</span>
		<form action="javascript:void(0);" method="post" id="finder-adresse-form" class="float-left">
				<input type="text" name="finder_adresse" value="" id="finder-adresse"/>
				<input type="submit" value="Suchen" id="finder-submit"/>
		</form>
	</div><!-- Karte Zentrieren Container -->

	<f:comment><!--<div class="gemeinde-auswahl-container">
			<span class="bold">Alle Gruppen folgender Gemeinde:</span>
			<f:form pluginName="Einzelgemeinde" controller="Gemeinde" action="show" pageUid="{settings.gemeindenShowPid}" class="float-right" id="finder-gemeinde-form" method="post" noCache="1" noCacheHash="1">
				<tx:advselect name="gemeinde" options="{gemeindes}" optionValueField="uid" optionLabelField="name" id="finder-gemeinde" additionalOptions="{0 : 'Gemeinde auswählen'}"/>
			</f:form>
	</div>--><!-- gemeinde Auswahl Container --></f:comment>
	
	
<div class="clearfix"></div>
<br />

<div class="options">
<span class="bold">Anzeigen:</span>
	<ul id="filters" class="option-set" data-option-key="filter">
        <li><a href="#alle" data-option-value="0">Alle</a></li>
        <li><a href="#pfadfinder" data-option-value="pfadfinder" class="selected">Pfadfinder</a></li>
        <li><a href="#pfadfinderinnen" data-option-value="pfadfinderinnen">Pfadfinderinnen</a></li>
		<li><a href="#mitarbeiter" data-option-value="kinder, jugendliche, mitarbeiter">Mitarbeiter</a></li>
    </ul>
</div>

<div id="map_canvas"></div>

<table width="900" border="0" class="gruppenfinder-legende">
  <tr>
    <td><img src="typo3conf/ext/ejwintern/Resources/Public/Images/GooglePin-MA.png" width="24" height="38" /></td>
    <td>Kinder- und Jugendgruppen</td> 
    <td><img src="typo3conf/ext/ejwintern/Resources/Public/Images/GooglePin-HP.png" width="24" height="38" /></td>
    <td>Pfadfinder-Gruppen</td>
    <td><img src="typo3conf/ext/ejwintern/Resources/Public/Images/GooglePin-HMP.png" width="24" height="38" /></td>
    <td>Pfadfinderinnen-Gruppen</td>
    <td><img src="typo3conf/ext/ejwintern/Resources/Public/Images/GooglePin-standort.png" width="24" height="38" /></td>
    <td>Dein Standort <br />(bei Nutzung des Suchfeldes)</td>
  </tr>
</table>

<ul id="adressenliste">
	<f:for each="{gruppes}" as="gruppe">
		<li class="gemeinde-{gruppe.gemeinde.uid} {gruppe.zielgruppe.filtername}">
			<span class="gruppenname">{gruppe.name}</span>
			<span class="zielgruppe">
				<f:if condition="{gruppe.geschlecht}">
					<f:then>{gruppe.geschlecht}</f:then>
					<f:else>{gruppe.zielgruppe.name}</f:else>
				</f:if>
			</span>
			<span class="alter">
			<f:if condition="{gruppe.alterEnde} == 0">
				<f:then>
					<f:if condition="{gruppe.alterStart} == 0">
						<f:then>
						</f:then>
						<f:else>
							ab {gruppe.alterStart} Jahre
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					{gruppe.alterStart}-{gruppe.alterEnde} Jahre
				</f:else>
			</f:if>
			</span>
			<span class="zeit">
			<f:if condition="{gruppe.turnus}">
    				{gruppe.turnus}
			</f:if>
			<f:if condition="{gruppe.wochentag}">
    				{gruppe.wochentag}
			</f:if>
			<f:if condition="{gruppe.uhrzeitStart}">
        			<f:if condition="{gruppe.uhrzeitEnde}">
            				<f:then>
                				{gruppe.uhrzeitStart}-{gruppe.uhrzeitEnde} Uhr
            				</f:then>
            				<f:else>
                				ab {gruppe.uhrzeitStart} Uhr
            				</f:else>
        			</f:if>
			</f:if>
			</span>
			<span class="gruppenleiter">Leitung: {gruppe.gruppenleiter}</span>
			<span class="gemeinde">
				<f:link.action pluginName="Einzelgemeinde" controller="Gemeinde" action="show" pageUid="{settings.gemeindenShowPid}" arguments="{gemeinde: gruppe.gemeinde.uid}">{gruppe.gemeinde.name}</f:link.action>
			</span>
			<span class="gemeindeadresse">
				<f:if condition="{gruppe.strasse}">
					<f:then>
						{gruppe.strasse} {gruppe.hausnummer}
					</f:then>
					<f:else>
						{gruppe.gemeinde.strasse} {gruppe.gemeinde.hausnummer}
					</f:else>
				</f:if>
			</span>
			<span class="ansprechpartner">Ansprechpartner: <br/>
				<f:if condition="{gruppe.ansprechpartner}">
					<f:then>
						<f:for each="{gruppe.ansprechpartner}" as="ansprechpartner" iteration="iterator">
							<f:if condition="{ansprechpartner.hauptamtlich} == 1">
								<f:then>
									<f:if condition="{iterator.isLast}">
										<f:then><f:link.page pageUid="{settings.hauptamtlichePid}" section="{ansprechpartner.uid}">{ansprechpartner.name}</f:link.page></f:then>
										<f:else><f:link.page pageUid="{settings.hauptamtlichePid}" section="{ansprechpartner.uid}">{ansprechpartner.name}</f:link.page>, </f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:if condition="{ansprechpartner.email}">
										<f:then>
											<f:if condition="{iterator.isLast}">
												<f:then><f:link.email email="{ansprechpartner.email}">{ansprechpartner.name}</f:link.email></f:then>
												<f:else><f:link.email email="{ansprechpartner.email}">{ansprechpartner.name}</f:link.email>, </f:else>
											</f:if>								
										</f:then>
										<f:else>
											<f:if condition="{iterator.isLast}">
												<f:then>{ansprechpartner.name}</f:then>
												<f:else>{ansprechpartner.name}, </f:else>
											</f:if>								
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</f:for>
					</f:then>
					<f:else>
						<f:for each="{gruppe.gemeinde.ansprechpartner}" as="ansprechpartner" iteration="iterator">					
							<f:if condition="{ansprechpartner.hauptamtlich} == 1">
								<f:then>
									<f:if condition="{iterator.isLast}">
										<f:then><f:link.page pageUid="{settings.hauptamtlichePid}" section="{ansprechpartner.uid}">{ansprechpartner.name}</f:link.page></f:then>
										<f:else><f:link.page pageUid="{settings.hauptamtlichePid}" section="{ansprechpartner.uid}">{ansprechpartner.name}</f:link.page>, </f:else>
									</f:if>
								</f:then>
								<f:else>
									<f:if condition="{ansprechpartner.email}">
										<f:then>
											<f:if condition="{iterator.isLast}">
												<f:then><f:link.email email="{ansprechpartner.email}">{ansprechpartner.name}</f:link.email></f:then>
												<f:else><f:link.email email="{ansprechpartner.email}">{ansprechpartner.name}</f:link.email>, </f:else>
											</f:if>								
										</f:then>
										<f:else>
											<f:if condition="{iterator.isLast}">
												<f:then>{ansprechpartner.name}</f:then>
												<f:else>{ansprechpartner.name}, </f:else>
											</f:if>								
										</f:else>
									</f:if>							
								</f:else>
							</f:if>
						</f:for>
					</f:else>
				</f:if>
			</span>
			<span class="ortswerk"><a href="{gruppe.gemeinde.ortswerk.website}" target="_blank">Webseite des Ortswerks</a></span>

			<span class="fachgruppe hidden-data">{gruppe.fachgruppe.kurzName}</span>			
			<span class="koordinaten hidden-data">
				<f:if condition="{gruppe.koordinaten}">
					<f:then>
						{gruppe.koordinaten}
					</f:then>
					<f:else>
						{gruppe.gemeinde.koordinaten}
					</f:else>
				</f:if>
			</span>
			
		</li>
	</f:for>
</ul>

</f:section>