{namespace nivoslider=Tx_PtNivoslider_ViewHelpers}

<f:if condition="{slider.imgSrcs}">
    <div class="theme-{slider.style}">
        <div class="nivoSliderCapsule">
            <div id="slider-{pluginUid}" class="nivoSlider">
                <f:for each="{slider.imgSrcs}" as="image" key="imgnumber">

                    <nivoslider:linktag imgnumber="{imgnumber}" links="{slider.links}" kind="start" />

                        <f:if condition="{slider.width}">
                            <f:then>
                                <f:if condition="{slider.height}">
                                    <f:then>
                                        <img src="{nivoslider:src(image: image, render: render)}" alt="{nivoslider:alt(imgnumber: imgnumber, alttags: slider.altTags)}" title="{nivoslider:title(imgnumber: imgnumber, titletags: slider.titleTags, kind: 'attribute')}" rel="{nivoslider:rel(image: image)}" width="{slider.width}" height="{slider.height}" />
                                    </f:then>
                                    <f:else>
                                        <img src="{nivoslider:src(image: image, render: render)}" alt="{nivoslider:alt(imgnumber: imgnumber, alttags: slider.altTags)}" title="#htmlcaption{imgnumber}" width="{slider.width}" />
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{slider.height}">
                                    <f:then>
                                        <img src="{nivoslider:src(image: image, render: render)}" alt="{nivoslider:alt(imgnumber: imgnumber, alttags: slider.altTags)}" title="#htmlcaption{imgnumber}" height="{slider.height}" />
                                    </f:then>
                                    <f:else>
                                        <img src="{nivoslider:src(image: image, render: render)}" alt="{nivoslider:alt(imgnumber: imgnumber, alttags: slider.altTags)}" title="#htmlcaption{imgnumber}" />
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>

                    <nivoslider:linktag imgnumber="{imgnumber}" links="{slider.links}" kind="end" />

                </f:for>
                </div>
            <f:if condition="{nivoslider:string(input: slider.style, expected: 'ptthumbs')}" >
                <div id="ptNivoRightButton" class="ptNivoThumbbarButton"></div>
                <div id="ptNivoLeftButton" class="ptNivoThumbbarButton"></div>
            </f:if>
            <f:if condition="{nivoslider:string(input: slider.style, expected: 'ptextended')}" >
                <div id="ptNivoRightButton" class="ptNivoThumbbarButton"></div>
                <div id="ptNivoLeftButton" class="ptNivoThumbbarButton"></div>
            </f:if>
            <div id="ptNivoStartButton" class="ptNivoStartStopButton"></div>
            <div id="ptNivoStopButton" class="ptNivoStartStopButton"></div>
        </div>
        <f:for each="{slider.imgSrcs}" as="image" key="imgnumber">
                    {nivoslider:title(imgnumber: imgnumber, titletags: slider.titleTags, kind: 'div')}
        </f:for>

    </div>
</f:if>


<!--<br /><br /><br /><br /><br /><br /><br /><br />



<br /><br /><br /><br /><br /><br /><br /><br />



<a id="ptnivo-start">Start</a> |
<a id="ptnivo-stop">Stop</a> |
<a id="ptnivo-start-stop-hover">Hover Stop & Start</a> |
<a id="ptnivo-change-direction">Change direction</a> |<br />
<a id="ptnivo-stopAniNextAni">stop animation and animate next image</a> |
<a id="ptnivo-stopAniNextJump">stop animation and jump to next image</a> |
<a id="ptnivo-dontStopAniNextJump">can't click during animation and jump to next image</a> | <br />
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
<a id=""></a> |
-->


<script>
$(window).load(function() {
    $('#slider-{pluginUid}').nivoSlider({
        effect: "{slider.effect}", // Specify sets like: 'fold,fade,sliceDown'
        slices: {slider.slices}, // For slice animations
        boxCols: {slider.boxCols}, // For box animations
        boxRows: {slider.boxRows}, // For box animations
        animSpeed: {slider.animSpeed}, // Slide transition speed
        pauseTime: {slider.pauseTime}, // How long each slide will show
        startSlide: {slider.startSlide}, // Set starting Slide (0 index)
        directionNav: {slider.directionNav}, // Next & Prev navigation
        directionNavHide: {slider.directionNavHide}, // Only show on hover
        controlNav: {slider.controlNav}, // 1,2,3... navigation
        controlNavThumbs: {slider.thumbNav}, // Use thumbnails for Control Nav
        controlNavThumbsFromRel: {slider.thumbNav}, // Use image rel for thumbs
        keyboardNav: {slider.keyboardNav}, // Use left & right arrows
        pauseOnHover: {slider.pauseOnHover}, // Stop animation while hovering
        manualAdvance: {slider.manualAdvance}, // Force manual transitions
        captionOpacity: {slider.captionOpacity}, // Universal caption opacity
        prevText: "{slider.prevText}", // Prev directionNav text
        nextText: "{slider.nextText}", // Next directionNav text
        randomStart: {slider.randomStart}, // Start on a random slide
        playButton: {slider.playbutton},
        beforeChange: {slider.beforeChange}, // Triggers before a slide transition
        afterChange: {slider.afterChange}, // Triggers after a slide transition
        slideshowEnd: {slider.slideshowEnd}, // Triggers after all slides have been shown
        lastSlide: {slider.lastSlide}, // Triggers when last slide is shown
        afterLoad: {slider.afterLoad} // Triggers when slider has loaded
    });
});
</script>

<script>
{effects}
</script>

<script>
$(window).load(function(){

    var playbutton = {slider.playbutton};

    $('#slider-{pluginUid}').css("width", "{slider.width}");
    $('#slider-{pluginUid}').css("height", "{slider.height}");

    $('.nivoSliderCapsule').css("width", "{slider.width}");
    $('.nivoSliderCapsule').css("height", "{slider.height}");

    if (playbutton == true){
        $('#ptNivoStopButton').css('visibility', 'visible');
        $('#ptNivoStartButton').css('visibility', 'hidden');
    }

    if (playbutton == false){
        $('#ptNivoStopButton').css('visibility', 'hidden');
        $('#ptNivoStartButton').css('visibility', 'hidden');
    }

    $(document).ready(function() {
        $('#ptNivoStartButton').on("click", function() {
            $('#slider-{pluginUid}').data('nivoslider').start();
        });
        $('#ptNivoStopButton').on("click", function() {
            $('#slider-{pluginUid}').data('nivoslider').stop();
        });
    });

});
</script>
<f:if condition="{nivoslider:string(input: slider.style, expected: 'ptthumbs')}" >
    <script>
    $(window).load(function(){

        var images = $('.theme-ptthumbs .nivo-controlNav img');
        var widthSlider = $('.theme-ptthumbs .nivoSlider').width();
        var thumbbar = $('.theme-ptthumbs .nivo-controlNav');

        images.first().load(function(){
            var imgwidth = $(this).outerWidth();
            var imgnumber = images.length;

            var width = imgwidth * imgnumber;

            if (width > widthSlider){
                thumbbar.css('width', width);
            }

            if (width <= widthSlider){
                thumbbar.css('width', widthSlider);
                $('#ptNivoRightButton').css('visibility', 'hidden');
                $('#ptNivoLeftButton').css('visibility', 'hidden');
                var difference = widthSlider-width;
                thumbbar.css({'padding-left': difference/2});
            }
        });

        $('#ptNivoRightButton').click(function(){

            var left = thumbbar.position().left;

            var widthThumbbar = thumbbar.width();
            var difference = widthThumbbar-widthSlider;
            if (left > (-difference+150)){
                thumbbar.stop(true).animate({left: left-150}, 'slow');
            } else if (left > -difference) {
                thumbbar.stop(true).animate({left: -difference}, 'slow');
            }
        });

        $('#ptNivoLeftButton').click(function(){

            var left = thumbbar.position().left;

            var widthThumbbar = thumbbar.width();
            var difference = widthThumbbar-widthSlider;
            if (left < -150){
                thumbbar.stop(true).animate({left: left+150}, 'slow');
            } else if (left < 0) {
                thumbbar.stop(true).animate({left: 0}, 'slow');
            }
        });

    });
    </script>
</f:if>
<f:if condition="{nivoslider:string(input: slider.style, expected: 'ptextended')}" >
    <script>
    $(window).load(function(){

        var images = $('.theme-ptextended .nivo-controlNav img');
        var widthSlider = $('.theme-ptextended .nivoSlider').width();
        var thumbbar = $('.theme-ptextended .nivo-controlNav');

        images.first().load(function(){
            var imgwidth = $(this).outerWidth();
            var imgnumber = images.length;

            var width = imgwidth * imgnumber;

            if (width > widthSlider){
                thumbbar.css('width', width);
            }

            if (width <= widthSlider){
                thumbbar.css('width', widthSlider);
                $('#ptNivoRightButton').css('visibility', 'hidden');
                $('#ptNivoLeftButton').css('visibility', 'hidden');
                var difference = widthSlider-width;
                thumbbar.css({'padding-left': difference/2});
            }
        });

        var height = $('.nivoSliderCapsule').height();
        $('.nivoSlider').css("height", height+85);
        $('.nivoSliderCapsule').css("height", height+85);

        $('#ptNivoRightButton').click(function(){

            var left = thumbbar.position().left;

            var widthThumbbar = thumbbar.width();
            var difference = widthThumbbar-widthSlider;
            if (left > (-difference+150)){
                thumbbar.stop(true).animate({left: left-150}, 'slow');
            } else if (left > -difference) {
                thumbbar.stop(true).animate({left: -difference}, 'slow');
            }
        });

        $('#ptNivoLeftButton').click(function(){

            var left = thumbbar.position().left;

            var widthThumbbar = thumbbar.width();
            var difference = widthThumbbar-widthSlider;
            if (left < -150){
                thumbbar.stop(true).animate({left: left+150}, 'slow');
            } else if (left < 0) {
                thumbbar.stop(true).animate({left: 0}, 'slow');
            }
        });

    });
    </script>
</f:if>
<f:if condition="{nivoslider:string(input: slider.style, expected: 'ptmedia')}" >
    <script>
    $(window).load(function(){

        var widthSlider = $('.theme-ptmedia .nivoSlider').width();

        $('.ptNivoStartStopButton').css({'left': (widthSlider-79)/2});
        $('.nivo-prevNav').css({'left': ((widthSlider-79)/2)-50});
        $('.nivo-nextNav').css({'right': ((widthSlider-79)/2)-50});

        var caption = $('.nivo-caption');
        var width = caption.outerWidth();
        caption.css({'left': (widthSlider-width)/2});

    });
    </script>
</f:if>
