{namespace tx = Tx_Ejwintern_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<div class="options">
		<span class="bold">Anzeigen:</span>
		<ul id="filters" class="option-set" data-option-key="filter">
				<li><a href="#alle" data-option-value="*" class="selected">Alle</a></li>
				<li><a href="#kinder" data-option-value=".kinder">Kinder</a></li>
				<li><a href="#jugendliche" data-option-value=".jugendliche">Jugendliche</a></li>
				<li><a href="#jungeerwachsene" data-option-value=".jungeerwachsene">Junge Erwachsene</a></li>
				<li><a href="#familie" data-option-value=".familie">Familie</a></li>
				<li><a href="#pfadfinderinnen" data-option-value=".pfadfinder, .pfadfinderinnen">PfadfinderInnen</a></li>
				<!--<li><a href="#bildungsreisen" data-option-value=".bildungsfreizeit">Bildungsreisen</a></li>-->
		</ul>
	</div>

	<div class="options float-right">
		<span class="bold">Sortieren nach:</span>
		<ul id="sort-by" class="option-set" data-option-key="sortBy">
				<li><a href="#preis" data-option-value="preis">Preis</a></li>
				<li><a href="#nummer" data-option-value="nummer" class="selected">Nr </a></li>
		</ul>
	</div>

	<div class="clearfix"></div>

	<div id="container-freizeitfinder" class="clearfix">
		<f:for each="{freizeits}" as="freizeit">
		
			<div class='freizeit {freizeit.zielgruppe.filtername}'>
				<p class="freizeit-number">
					<span class="nummer"><f:if condition="{freizeit.nr} < 10">0</f:if>{freizeit.nr}</span>
					<span class="hidden freizeit-ts"><f:format.date format="U">{freizeit.datumStart}</f:format.date></span>
				</p>
			  
				<f:if condition="{freizeit.belegt} == 1">
					<f:link.action action="show" arguments="{freizeit : freizeit}" pageUid="{settings.showpid}">
						<div class="freizeit-belegt"></div>
					</f:link.action>
				</f:if>
			  
				<div class="freizeit-foto">
					<f:if condition="{freizeit.image}">
					
						<f:for each="{tx:explode(string:'{freizeit.image}',delimiter:',')}" as="image" iteration="imageIterator">
							<f:if condition="{imageIterator.isFirst}">
								<f:link.action action="show" arguments="{freizeit : freizeit}" pageUid="{settings.showpid}">
									<f:image src="{image}" alt="" width="220c" height="170c" />
								</f:link.action>
							</f:if>
						</f:for>
								
					</f:if>
				</div>
				
				<div class="freizeit-titel">
					<h1>{freizeit.name}</h1>
				</div>
			  
				<p class="freizeit-facts">
					<tx:format.strftime format="%e. %b">{freizeit.datumStart}</tx:format.strftime> - <tx:format.strftime format="%e. %b %G">{freizeit.datumEnde}</tx:format.strftime><br />
					
					Kosten: <span class="preis">{freizeit.preis},-</span> EUR
					<br />
					{freizeit.zielgruppe.name}
					<f:if condition="{freizeit.alterEnde} == 0">
						<f:then>
							{freizeit.alterStart}+
						</f:then>
						<f:else>
							{freizeit.alterStart}-{freizeit.alterEnde}
						</f:else>
					</f:if>
					 Jahre<br />
				</p>
				
				<p class="mehr-informationen"><f:link.action action="show" arguments="{freizeit : freizeit}" pageUid="{settings.showpid}">» Mehr Informationen</f:link.action></p>
			</div>
		</f:for>
		
	</div>

</f:section>