<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:render partial="Freizeit/Properties" arguments="{freizeit:freizeit, leitungs:leitungs, leistungs:leistungs}" />
	
	<div class="clearfix"></div>
	<f:link.action action="list" class="zurueck" pageUid="{settings.listpid}">« zurück</f:link.action>
</f:section>