{namespace tx = Tx_Ejwintern_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">

	<tx:page.title mode="append">{gemeinde.name}</tx:page.title>

	<div class="full-column"><h1 class="gemeinde-headline">Gruppen in der {gemeinde.name}</h1></div>
	  
	<div class="column-590 float-left">

		<f:for each="{kategoriens}" as="kategorie">
			<div class="zielgruppe">

				<p class="gruppe-art zielgruppe-{kategorie.filtername}">{kategorie.name}</p>
			
				<f:for each="{gruppes}" as="gruppe">
				
					<f:if condition="{gruppe.zielgruppe.uid} == {kategorie.uid}">

						<div class="gruppe">
							<strong>{gruppe.name}
								<f:if condition="{gruppe.alterEnde} == 0">
									<f:then>
										<f:if condition="{gruppe.alterStart} == 0">
											<f:then>
											</f:then>
											<f:else>
												ab {gruppe.alterStart} Jahre
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										{gruppe.alterStart}-{gruppe.alterEnde} Jahre
									</f:else>
								</f:if>
							</strong><br />
							<f:if condition="{gruppe.turnus}">
                                				{gruppe.turnus}
                            				</f:if>
                            				<f:if condition="{gruppe.wochentag}">
							    	{gruppe.wochentag}
                            				</f:if>
							<f:if condition="{gruppe.uhrzeitStart}">
                                    				<f:if condition="{gruppe.uhrzeitEnde}">
                                        				<f:then>
                                            					{gruppe.uhrzeitStart}-{gruppe.uhrzeitEnde} Uhr    
                                        				</f:then>
                                        				<f:else>
                                            					ab {gruppe.uhrzeitStart} Uhr        
                                        				</f:else>
                                    				</f:if>
                            				</f:if>
                            				<f:if condition="{gruppe.turnus}">
                                				<f:then>
                                    					<br />
                                				</f:then>
                                				<f:else>
                                    					<f:if condition="{gruppe.wochentag}">
                                        					<f:then>
                                            						<br />
                                        					</f:then>
                                        					<f:else>
                                            						<f:if condition="{gruppe.uhrzeitStart}">
                                                						<br />
                                            						</f:if>
                                        					</f:else>
                                    					</f:if>
                                				</f:else>
                            				</f:if>
							Leitung: {gruppe.gruppenleiter}<br />
							{gruppe.strasse} {gruppe.hausnummer}<f:if condition="{gruppe.ort}">,</f:if> {gruppe.plz} {gruppe.ort}
						</div>
						
					</f:if>
					
				</f:for>
			</div>	
		</f:for>
		
		<f:link.action action="list" class="zurueck" pageUid="{settings.gruppenPid}">« zurück</f:link.action>
		
	</div>

	<div class="column-280 float-right">
	
	<f:for each="{ansprechpartners}" as="ansprechpartner" iteration="iterator">
		<div class="portrait-box">
		
			<f:if condition="{ansprechpartner.image}">
				<f:image src="{ansprechpartner.image}" alt="" width="280c" class="gemeinde-ansprechpartner-bild"/>
			</f:if>

			<p>
				<strong>Ansprechpartner: </strong><br />
					
						<f:if condition="{ansprechpartner.hauptamtlich} == 1">
							<f:then>
								<f:if condition="{iterator.isLast}">
									<f:then><f:link.page pageUid="{settings.hauptamtlichePid}" section="{ansprechpartner.uid}">{ansprechpartner.name}</f:link.page></f:then>
									<f:else><f:link.page pageUid="{settings.hauptamtlichePid}" section="{ansprechpartner.uid}">{ansprechpartner.name}</f:link.page>, </f:else>
								</f:if>								
							</f:then>
							<f:else>
								<f:if condition="{ansprechpartner.email}">
									<f:then>
										<f:if condition="{iterator.isLast}">
											<f:then><f:link.email email="{ansprechpartner.email}">{ansprechpartner.name}</f:link.email></f:then>
											<f:else><f:link.email email="{ansprechpartner.email}">{ansprechpartner.name}</f:link.email>,</f:else>
										</f:if>						
									</f:then>
									<f:else>
										<f:if condition="{iterator.isLast}">
											<f:then>{ansprechpartner.name}</f:then>
											<f:else>{ansprechpartner.name},</f:else>
										</f:if>						
									</f:else>
								</f:if>
							</f:else>
						</f:if>						
					
			</p>
			<f:if condition="{gemeinde.ansprechpartnerhp}">
			<p>
				<strong>Ansprechpartner Pfadfinder:</strong><br />
					
						<f:if condition="{gemeinde.ansprechpartnerhp.hauptamtlich} == 1">
							<f:then>
								<f:if condition="{iterator.isLast}">
									<f:then><f:link.page pageUid="{settings.hauptamtlichePid}" section="{gemeinde.ansprechpartnerhp.uid}">{gemeinde.ansprechpartnerhp.name}</f:link.page></f:then>
									<f:else><f:link.page pageUid="{settings.hauptamtlichePid}" section="{gemeinde.ansprechpartnerhp.uid}">{gemeinde.ansprechpartnerhp.name}</f:link.page>, </f:else>
								</f:if>								
							</f:then>
							<f:else>
								<f:if condition="{gemeinde.ansprechpartnerhp.email}">
									<f:then>
										<f:if condition="{iterator.isLast}">
											<f:then><f:link.email email="{gemeinde.ansprechpartnerhp.email}">{gemeinde.ansprechpartnerhp.name}</f:link.email></f:then>
											<f:else><f:link.email email="{gemeinde.ansprechpartnerhp.email}">{gemeinde.ansprechpartnerhp.name}</f:link.email>,</f:else>
										</f:if>						
									</f:then>
									<f:else>
										<f:if condition="{iterator.isLast}">
											<f:then>{gemeinde.ansprechpartnerhp.name}</f:then>
											<f:else>{gemeinde.ansprechpartnerhp.name},</f:else>
										</f:if>						
									</f:else>
								</f:if>
							</f:else>
						</f:if>
			</p>
			</f:if>
			<f:if condition="{gemeinde.ansprechpartnerhmp}">
			<p>
				<strong>Ansprechpartner Pfadfinderinnen:</strong><br />
					
						<f:if condition="{gemeinde.ansprechpartnerhmp.hauptamtlich} == 1">
							<f:then>
								<f:if condition="{iterator.isLast}">
									<f:then><f:link.page pageUid="{settings.hauptamtlichePid}" section="{gemeinde.ansprechpartnerhmp.uid}">{gemeinde.ansprechpartnerhmp.name}</f:link.page></f:then>
									<f:else><f:link.page pageUid="{settings.hauptamtlichePid}" section="{gemeinde.ansprechpartnerhmp.uid}">{gemeinde.ansprechpartnerhmp.name}</f:link.page>, </f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{gemeinde.ansprechpartnerhmp.email}">
									<f:then>
										<f:if condition="{iterator.isLast}">
											<f:then><f:link.email email="{gemeinde.ansprechpartnerhmp.email}">{gemeinde.ansprechpartnerhmp.name}</f:link.email></f:then>
											<f:else><f:link.email email="{gemeinde.ansprechpartnerhmp.email}">{gemeinde.ansprechpartnerhmp.name}</f:link.email>,</f:else>
										</f:if>						
									</f:then>
									<f:else>
										<f:if condition="{iterator.isLast}">
											<f:then>{gemeinde.ansprechpartnerhmp.name}</f:then>
											<f:else>{gemeinde.ansprechpartnerhmp.name},</f:else>
										</f:if>						
									</f:else>
								</f:if>
							</f:else>
						</f:if>						
			</p>			
			</f:if>						
			<p>
			<strong>Webseite des Ortswerks</strong><br />
			<f:if condition="{gemeinde.ortswerk.website}">
				<f:link.external uri="{gemeinde.ortswerk.website}">{gemeinde.ortswerk.website}</f:link.external>
			</f:if>		
</p>
			<br clear="all"/>
		</div>
	</f:for>
		
		<p>
			<div id="gemeinde_map_canvas" style="width:280px;height:280px;"></div>
		</p>
		
		<p><strong>{gemeinde.name}</strong><br />
			<span class="gemeinde-adresse">{gemeinde.strasse} {gemeinde.hausnummer}</span><br />
			<span class="gemeinde-ort">{gemeinde.plz} {gemeinde.ort}</span>
			<span id="gemeinde-koordinaten">{gemeinde.koordinaten}</span>
		</p>
	  
		<p>
			<f:if condition="{gemeinde.webseite}">
				<f:link.external uri="{gemeinde.webseite}">{gemeinde.webseite}</f:link.external>
			</f:if>
		</p>
	</div>

</f:section>