{namespace tx = Tx_Ejwintern_ViewHelpers}

<tx:page.title mode="append">{freizeit.name}</tx:page.title>

<f:if condition="{freizeit.image}">
	<f:for each="{tx:explode(string:'{freizeit.image}',delimiter:',')}" as="image" iteration="imageIterator">
		<f:if condition="{imageIterator.isFirst}">
			<tx:opengraph image="{image}" />
		</f:if>
	</f:for>
</f:if>
					


		<h1 class="freizeit-einzeln-titel">{freizeit.name}</h1>
		<h3 class="freizeit-datum">
			<tx:freizeitdatum startdatum="{freizeit.datumStart}" enddatum="{freizeit.datumEnde}" />
		</h3>
	
		<div class="clearfix"></div>		

		<!-- freizeit-facebook-->
		<div class="freizeit-facebook">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) {return;}
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=132814750148737";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			</script>
			<div class="fb-like" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false"></div>		
		</div><!-- DIV freizeit-facebook-->

		<div class="fce column-full">

			<f:if condition="{freizeit.belegt} == 0">
				<f:then>
					<f:link.page pageUid="{settings.anmeldeformularPage}" additionalParams="{tx_powermail_pi1: {uid61: freizeit.nr, uid62: freizeit.ziel}}" class="button-online-anmelden"><img src="{settings.anmeldeformularImg}" alt="Jetzt Online Anmelden" /></f:link.page>
				</f:then>
				<f:else>
					<span class="button-online-anmelden"><img src="{settings.anmeldeformularImgBelegt}" alt="Alle Plätze belegt" /></span>
				</f:else>
			</f:if>		
			
			<div id="freizeit-slider">
			
					<f:if condition="{freizeit.image}">				
						<f:for each="{tx:explode(string:'{freizeit.image}',delimiter:',')}" as="image" iteration="imageIterator">
							<f:image src="{image}" alt="" width="940c" height="500c" />
						</f:for>							
					</f:if>			
			
			</div>	<!--Div slider-->
			
			
			
			
			
		</div>	<!--Div column full-->	
		
		<div class="clearfix"></div>
		
		<div class="twothird-column float-left">
			<f:format.html>{freizeit.beschreibung}</f:format.html>
		</div><!-- DIV twothird-column-->
		
		<div class="onethird-column float-right">
		
		

			<div class="freizeit-leistungen">
				<p><strong>
					{freizeit.zielgruppe.name}
					<f:if condition="{freizeit.alterEnde} == 0">
						<f:then>
							ab {freizeit.alterStart}
						</f:then>
						<f:else>
							{freizeit.alterStart}-{freizeit.alterEnde}
						</f:else>
					</f:if>
					 Jahre
				</strong></p>
				<p><strong>Ziel: </strong>{freizeit.ziel}</p>
				<p><strong>Datum:</strong> <tx:freizeitdatum startdatum="{freizeit.datumStart}" enddatum="{freizeit.datumEnde}" /></p>
				<p><strong>Anreise:</strong> {freizeit.anreise}</p>

				<p><strong>Unterbringung:</strong> {freizeit.unterbringung}</p>
				<p>
					<strong>Leitung:</strong>
					<f:for each="{leitungs}" as="leitung" iteration="leitungsIterator">
						<f:if condition="{leitung.hauptamtlich} == 1">
							<f:then>
								<f:if condition="{leitungsIterator.isLast}">
									<f:then><f:link.page pageUid="{settings.hauptamtlichePid}" section="{leitung.uid}">{leitung.name}</f:link.page></f:then>
									<f:else><f:link.page pageUid="{settings.hauptamtlichePid}" section="{leitung.uid}">{leitung.name}</f:link.page>, </f:else>
								</f:if>								
							</f:then>
							<f:else>
								<f:if condition="{leitung.email}">
									<f:then>
										<f:if condition="{leitungsIterator.isLast}">
											<f:then><f:link.email email="{leitung.email}">{leitung.name}</f:link.email></f:then>
											<f:else><f:link.email email="{leitung.email}">{leitung.name}</f:link.email>,</f:else>
										</f:if>						
									</f:then>
									<f:else>
										<f:if condition="{leitungsIterator.isLast}">
											<f:then>{leitung.name}</f:then>
											<f:else>{leitung.name},</f:else>
										</f:if>						
									</f:else>
								</f:if>
							</f:else>
						</f:if>						
					</f:for>
				</p>
				<p><strong>Betreuung:</strong> {freizeit.teamerAnzahl} TeamerInnen</p>
				<p><strong>Teilnehmerzahl:</strong> {freizeit.teilnehmerzahl}</p>

				<p>
					<strong>Kosten: </strong>{freizeit.preis},- EUR
					<f:if condition="{freizeit.zusatzkosten}"> {freizeit.zusatzkosten}</f:if>
				</p>
				<p>
					<strong>Leistungen:</strong>
					<f:for each="{leistungs}" as="leistung" iteration="leistungsIterator">
						<f:if condition="{leistungsIterator.isLast}">
							<f:then>{leistung.name}</f:then>
							<f:else>{leistung.name},</f:else>
						</f:if>
					</f:for>
				</p>
			</div><!-- DIV freizeit-leistungen-->
			
			<f:if condition="{freizeit.belegt} == 0">
				<div class="freizeit-anmelden">
					<f:link.page pageUid="{settings.anmeldeformularPage}" additionalParams="{tx_powermail_pi1: {uid61: freizeit.nr, uid62: freizeit.ziel}}">Jetzt online anmelden!</f:link.page>
				</div><!-- DIV freizeit-anmelden-->
			</f:if>
			
			<div class="freizeit-downloadkontakt">
				<f:link.page pageUid="{settings.kontaktformularPage}" class="rueckfragen-formular">Kontaktformular für Rückfragen</f:link.page>
				<f:link.page pageUid="{settings.reisebedingungenPage}" class="reisebedingungen-herunterladen">Reisebedingungen</f:link.page>
			</div><!-- DIV freizeit-kontakt-->
			
		</div><!-- DIV onethird-column-->
			
		