{namespace tx = Tx_Ejwintern_ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:for each="{personens}" as="personen">

	<div class="hauptamtlicher" id="c{personen.uid}">

		<div class="portrait">
				<f:if condition="{personen.image}">
					<f:image src="{personen.image}" alt="" width="300c" height="300c" />
				</f:if>
		</div>
		
		<div class="name"><h2>{personen.name}</h2></div>
		
		<div class="bio"><f:format.html>{personen.info}</f:format.html></div>
		
		<div class="kontaktdaten">
			<p>Telefon: {personen.telephone} <br />
			E-Mail: <f:link.email email="{personen.email}"><tx:strreplace search="@" replace="(at)">{personen.email}</tx:strreplace></f:link.email></p>
		</div><!--div kontaktdaten-->

	</div><!--div hauptamtlicher-->
	
</f:for>

</f:section>